<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!doctype html>
<!-- Оболочка документа, указываем яык содержимого -->
<html lang="en">

<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
@@include('../../_header.html', {"title":"Возможности"})

<!-- Отображаемое тело страницы -->
<body>
	<!-- Оболочка для демонстрации -->
	<main class="main">

		<!-- Контент -->

		<!-- -=-=-=-=-=-=-=-=-=-=-= Навигация по модели -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="secondary-navigation__modelname secondary-navigation__modelname_mobile">
			<!-- мобильная надпись(скрыто на десктопах) -->
			<h1 class="secondary-navigation__title">2021 RAM 2500</h1>
		</div>
		<div class="secondary-navigation" id="secondary-nav">
			<div class="secondary-navigation__modelname">
				<!-- надпись модели -->
				<h1 class="secondary-navigation__title">2021 RAM 2500</h1>
			</div>
			<nav class="secondary-navigation__menu nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/">
							Обзор
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/#trims">
							Выбери свой RAM
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/gallery/">
							Галерея
						</a>
					</li>
					<li class="nav__item nav__item_active">
						<a class="nav__link" href="/ram-2500/capability/">
							Возможности
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/exterior/">
							Экстерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/interior/">
							Интерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/safety-security/">
							Безопасность и защита
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/compare/">
							Сравнить
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/specs/">
							Спецификации
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/commercial/">
							RAM для бизнеса
						</a>
					</li>
				</ul>
			</nav>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Возможности -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<div class="qvmedia-block__suptitle">
				2021 RAM 2500 ВОЗМОЖНОСТИ
			</div>
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				2021 RAM 2500 Ваш эксперт в буксировке тяжёлых прицепов
			</h2>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-01_Hero_01.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-01-Hero-01.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-01_Hero_01.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-01-Hero-01.jpg" alt="A 2021 Ram 2500 towing a large boat.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Двигатели -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="feature-carousel gcss-theme-light" id="performance1">
			<h2 class="feature-carousel__title">
				Доступные двигатели
			</h2>
			<ul class="feature-carousel__navlinks tabnav gcss-theme-dark">
				<li class="tabnav__item active">
					<a class="tabnav__link d-block" data-target="launch" href="#">
						ДИЗЕЛЬНЫЙ ДВИГАТЕЛЬ CUMMINS<sup>®</sup> TURBO DIESEL I6 6,7 Л
					</a>
				</li>
				<li class="tabnav__item">
					<a class="tabnav__link d-block" data-target="dashboard" href="#">
						ДВИГАТЕЛЬ 6,4 Л HEMI<sup>®</sup> V8
					</a>
				</li>
			</ul>
			<div class="feature-carousel__items gcss-theme-dark">
				<div class="feature-carousel__item" id="launch">
					<picture class="feature-carousel__img">
						<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-02-Engines-01.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-02-Engines-01.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-01.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-01.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-01.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-01.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-02-Engines-01.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-01.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-01.jpg.image.1000.jpg 2x" alt="A close-up of the Launch Control screen in the 2021 Ram 1500 TRX, indicating that the vehicle will launch at 4500 RPM.">
					</picture>
					<div class="feature-carousel__content">
						<h3 class="feature-carousel__itemtitle">
							Дизельный двигатель Cummins<sup>®</sup> Turbo Diesel I6 6,7 Л
						</h3>
						<p class="feature-carousel__text">
							6,7-литровый двигатель Cummins<sup>®</sup> Turbo Diesel I6 отличается исключительной мощностью и впечатляющим крутящим моментом для любых тяговых работ без потери эффективности.
						</p>
						<p class="feature-carousel__text">
							6-ст автоматическая коробка передач Corporate представляет собой сложную многодиапазонную трансмиссию с электронным управлением и передаточными числами, оптимизированными для 6,7-литрового двигателя Cummins Turbo Diesel I6. Она отличается быстрым переключением передач и низким уровнем шума и вибраций.
						</p>
						<div class="feature-carousel__label-group">
							<div>
								<div class="label">МОЩНОСТЬ НМ</div>
								<div class="icon-value-containerl">1.152</div>
							</div>
							<div>
								<div class="label">МАКС ВЕС БУКСИРУЕМОГО ПРИЦЕПА КГ</div>
								<div class="icon-value-containerl">9.070</div>
							</div>
							<div>
								<div class="label">ГРУЗОПОДЪЁМНОСТЬ КГ</div>
								<div class="icon-value-containerl">1.430</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ Л.С.</div>
								<div class="icon-value-containerl">370</div>
							</div>
						</div>
					</div>
				</div>
				<div class="feature-carousel__item" id="dashboard">
					<picture class="feature-carousel__img">
						<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-02-Engines-02.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-02-Engines-02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-02.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-02.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-02.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-02.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-02-Engines-02.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-02.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-02-Engines-02.jpg.image.1000.jpg 2x" alt="A close-up of the dashboard screen in the 2021 Ram 1500 TRX, displaying reaction time, 60 foot timer, quarter-mile timer and eighth-mile timer.">
					</picture>
					<div class="feature-carousel__content">
						<h3 class="feature-carousel__itemtitle">
							Двигатель 6,4 Л HEMI<sup>®</sup> V8
						</h3>
						<p class="feature-carousel__text">
							Легендарный 6,4-литровый двигатель HEMI® V8 входит в стандартную комплектацию каждого RAM 2500 2021 года. Благодаря системе регулируемого газораспределения (VCT) он обеспечивает лучшую в своём классе мощность в 410 л.с. для самой тяжёлой работы.
						</p>
						<p class="feature-carousel__text">
							6,4-литровый двигатель HEMI V8 агрегатируется с 8-ст. АКПП 8HP75 которая предлагает такой уровень совершенства, который обычно вы не встретите в тяжелых грузовиках. АКПП имеет полностью электронное управление и очень ь высокую стойкость смены передач.
						</p>
						<div class="feature-carousel__label-group">
							<div>
								<div class="label">МОЩНОСТЬ НМ</div>
								<div class="icon-value-containerl">595</div>
							</div>
							<div>
								<div class="label">МАКС ВЕС БУКСИРУЕМОГО ПРИЦЕПА КГ</div>
								<div class="icon-value-containerl">7.956</div>
							</div>
							<div>
								<div class="label">ГРУЗОПОДЪЁМНОСТЬ КГ</div>
								<div class="icon-value-containerl">1.820</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ Л.С.</div>
								<div class="icon-value-containerl">410</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Цифры не врут -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="copy-box gcss-theme-light">
			<h2 class="copy-box__title">
				Цифры не врут
			</h2>
			<p class="copy-box__text">
				С максимальным весом буксируемого прицепа 9.070 кг. с 6,7-литровым дизельным двигателем Cummins<sup>®</sup> Turbo и максимальной грузоподъемностью 1.820 кг. RAM 2500 2021 года, с двигателем 6,4 л HEMI<sup>®</sup> V8, станет рабочей лошадкой, которая поможет вам уверенно достигать поставленных целей.
			</p>
			<a class="copy-box__link btn btn-secondary gcss-button" href="#">
				Буксировка и грузоподъемность
			</a>
			<a class="copy-box__link btn btn-secondary gcss-button gcss-button-outline" href="/ram-2500/specs/">
				Полная спецификация автомобиля
			</a>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Большое изображение -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="qvmedia-block">
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-01.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-03-Features-01.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-01.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-03-Features-01.jpg" alt="A close-up of the open pickup box on a 2021 Ram 2500, filled with pallets of stone.">
			</picture>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Возможности RAM 2500 -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<ul class="blurb-rail__list row">
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Mirrors.jpg.image.1440.jpg, <%=path%>img/MY21-2500-Capability-Towing-Mirrors.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Mirrors.jpg.image.1000.jpg, <%=path%>img/MY21-2500-Capability-Towing-Mirrors.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Mirrors.jpg.image.700.jpg, <%=path%>img/MY21-2500-Capability-Towing-Mirrors.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-2500-Capability-Towing-Mirrors.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-2500-Capability-Towing-Mirrors.jpg.image.500.jpg, <%=path%>img/MY21-2500-Capability-Towing-Mirrors.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Круговой обзор
						</h3>
						<p class="blurb-rail__item-description">
							Сверхширокие наружные зеркала заднего вида для буксировки с электроприводом и камерой кругового обзора 360º которая включает в себя функцию построения траектории прицепа при движении задним ходом, использует пять камер для получения полной картины вокруг автомобиля, что особенно полезно при выравнивании грузовика с прицепом.  Подготовка проводки для камеры прицепа позволяет разместить до двух вспомогательных камер на вашем прицепе или внутри него и вывести изображение с камер на центральный экран мультимедийной системы автомобиля.
						</p>
						<a class="blurb-rail__link btn _icon-play" data-fancybox href="https://www.youtube.com/watch?v=1zq4CSYyIwc">
							Показать видео с функциями камеры
						</a>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Trailer-Monitor.jpg.image.1440.jpg, <%=path%>img/MY21-2500-Capability-Towing-Trailer-Monitor.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Trailer-Monitor.jpg.image.1000.jpg, <%=path%>img/MY21-2500-Capability-Towing-Trailer-Monitor.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Trailer-Monitor.jpg.image.700.jpg, <%=path%>img/MY21-2500-Capability-Towing-Trailer-Monitor.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-2500-Capability-Towing-Trailer-Monitor.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-2500-Capability-Towing-Trailer-Monitor.jpg.image.500.jpg, <%=path%>img/MY21-2500-Capability-Towing-Trailer-Monitor.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Управление прицепом
						</h3>
						<p class="blurb-rail__item-description">
							Следите за состоянием вашего прицепа как на дороге, так и вне ее с помощью системы контроля давления в шинах прицепа, которая показывает давление в реальном времени для 4 прицепов и до 12 шин на прицеп, а также новой системой проверки работы освещения прицепа.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Suspension.jpg.image.1440.jpg, <%=path%>img/MY21-2500-Capability-Towing-Suspension.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Suspension.jpg.image.1000.jpg, <%=path%>img/MY21-2500-Capability-Towing-Suspension.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Suspension.jpg.image.700.jpg, <%=path%>img/MY21-2500-Capability-Towing-Suspension.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-2500-Capability-Towing-Suspension.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-2500-Capability-Towing-Suspension.jpg.image.500.jpg, <%=path%>img/MY21-2500-Capability-Towing-Suspension.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							С лёгкостью производите сцепку и расцепку
						</h3>
						<p class="blurb-rail__item-description">
							Эксклюзивная задняя пневматическая подвеска с автоматическим выравниванием включает режим опускания кузова, который переводит заднюю подвеску в крайнее нижнее положение для облегчения операций с прицепом. Камера кругового обзора 360° с помощью Trailer Reverse Guidance View обеспечивает широкий угол обзора с обеих сторон вашего автомобиля и прицепа.
						</p>
						<a class="blurb-rail__link btn _icon-play" data-fancybox href="https://www.youtube.com/watch?v=p1QkBIKmf5I">
							Показать видео работы системы
						</a>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Hardware.jpg.image.1440.jpg, <%=path%>img/MY21-2500-Capability-Towing-Hardware.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Hardware.jpg.image.1000.jpg, <%=path%>img/MY21-2500-Capability-Towing-Hardware.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-2500-Capability-Towing-Hardware.jpg.image.700.jpg, <%=path%>img/MY21-2500-Capability-Towing-Hardware.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-2500-Capability-Towing-Hardware.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-2500-Capability-Towing-Hardware.jpg.image.500.jpg, <%=path%>img/MY21-2500-Capability-Towing-Hardware.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Предустановка для дополнительного буксировочного оборудования
						</h3>
						<p class="blurb-rail__item-description">
							Установленная на заводе поперечная балка рамы над задним мостом может похвастаться встроенным монтажными креплениями для доступного пакета подготовки пятого колеса/gooseneck.
						</p>
						<a class="blurb-rail__link btn _icon-play" data-fancybox href="https://www.youtube.com/watch?v=cAAtf9157Ho">
							Показать видео "Gooseneck"
						</a>
					</li>
				</ul>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= POWER WAGON -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="qvmedia-block gcss-theme-light">
			<h2 class="qvmedia-block__title">
				POWER WAGON<sup>®</sup>
			</h2>
			<p class="qvmedia-block__subtitle">
				Создан с таким запасом прочности, чтобы быть королём дорог и бездорожья.
			</p>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-06.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-03-Features-06.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Interior_Cluster-desktop.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-02-Capability-02-Mobile-03-Features-06.jpg" alt="A close-up of the open pickup box on a 2021 Ram 2500, filled with pallets of stone.">
			</picture>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Особенности RAM 2500 -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<ul class="blurb-rail__list row d-block">
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-07.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-07.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-07.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-07.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-07.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-07.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-07.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-07.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-07.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Лебедка Warn<sup>®</sup> ZEON-12
						</h3>
						<p class="blurb-rail__item-description">
							Лебедка WARN<sup>®</sup> ZEON-12 оборудована синтетическим тросом, который не перекручивается и не изнашивается. Несмотря на свой малый вес, лебедка рассчитана на нагрузку в 5.443 кг.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-08.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-08.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-08.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-08.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-08.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-08.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-08.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-08.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-08.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Газовые амортизаторы BILSTEIN<sup>®</sup>
						</h3>
						<p class="blurb-rail__item-description">
							Независимо от того, скалистый ли это уклон или дорога на которой вы живёте, эти амортизаторы помогают вашим шинам оставаться в постоянном контакте с поверхностью.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-09.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-09.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-09.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-09.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-09.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-09.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-09.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-09.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-09.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Блокировка переднего и заднего дифференциалов
						</h3>
						<p class="blurb-rail__item-description">
							Когда повышенное тяговое усилие и внедорожные качества становится необходимостью, RAM 2500 Power Wagon<sup>®</sup> подходит для этого как никогда лучше, с передним и задним дифференциалами, которые могут быть заблокированы с помощью электроники, чтобы все колёса получали равный крутящий момент.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-10.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-10.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-10.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-10.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-10.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-10.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-10.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-10.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-02-Capability-01-Desktop-03-Features-10.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Электронно отключаемый передний стабилизатор
						</h3>
						<p class="blurb-rail__item-description">
							Эксклюзивный передний стабилизатор поперечной устойчивости Power Wagon<sup>®</sup> с электронным отключением обеспечивает максимальный ход подвески передней оси для экстремальных внедорожных возможностей.
						</p>
					</li>
				</ul>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= POWER WAGON -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="hero gcss-theme-dark">
			<picture class="hero__bg">
				<source srcset="<%=path%>img/PW75-MY21-2500-Capability-Banner-Desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/PW75-MY21-2500-Capability-Banner-Mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/PW75-MY21-2500-Capability-Banner-Desktop.jpg" data-srcset="<%=path%>img/PW75-MY21-2500-Capability-Banner-Mobile.jpg" alt="A red 2021 Ram 1500 Big Horn parked on a brick courtyard near a large fountain with skyscrapers in the background.">
			</picture>
			<div class="hero__content thirty left top tablet-width-60 scale-down static-sm w100-sm">
				<strong class="hero__text hero__text_strong text-size-5">
					75 ЛЕТ POWER WAGON<sup>®</sup>
				</strong>
				<p class="hero__text">
					Power Wagon<sup>®</sup> был создан, чтобы отвечать самым суровым требованиям. Уходя корнями создания в военные разработки, он впоследствии получил развитие чтобы стать массовым гражданским автомобилем и сегодня укрепляет свой статус серьёзного внедорожного пикапа. Выпуск 2021 Power Wagon, посвящённый 75-й годовщине, олицетворяет это мощное наследие.
				</p>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Сделано за последние 5 лет -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="capabilitygraph">
			<!-- заголовок секции -->
			<h2 class="capabilitygraph__title">
				Самые выгодные обязательства по тяжёлым пикапам
			</h2>
			<div class="capabilitygraph__items col col-xs-12 col-md-10 not-float">
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Ограниченная гарантия на дизельный двигатель и коробку или
									</span>
								</h3>
							</div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="150000">150000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Специализированная помощь для дизельных автомобилей на дороге или 
									</span>
								</h3>
							</div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="150000">150000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Ограниченная гарантия на бензиновый двигатель и коробку или
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="100000">100000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width:60%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Специализированная помощь для  бензиновых автомобилей на дороге или
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="100000">100000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width:60%"></div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Микроконфигуратор -->
		<section class="specs gcss-theme-light" id="trims">
			<h2 class="specs__title">
				Выбери свой RAM
			</h2>
			<div class="specs__subtitle">
				Модуль выбора комплектации
			</div>
			<ul class="cars-carousel">
				<div class="cars-carousel__wrapper owl-carousel center">
					<li class="cars-carousel__item" id="32">
						<img class="cars-carousel__img" src="<%=path%>img/iris8.png" alt="TRADESMAN®">
						<h4 class="cars-carousel__title">Tradesman<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="38">
						<img class="cars-carousel__img" src="<%=path%>img/iris9.png" alt="BIG HORN®">
						<h4 class="cars-carousel__title">Big Horn<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="45">
						<img class="cars-carousel__img" src="<%=path%>img/iris10.png" alt="LARAMIE®">
						<h4 class="cars-carousel__title">Laramie<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="50">
						<img class="cars-carousel__img" src="<%=path%>img/iris11.png" alt="POWER WAGON">
						<h4 class="cars-carousel__title">Power Wagon</h4>
					</li>
					<li class="cars-carousel__item" id="51">
						<img class="cars-carousel__img" src="<%=path%>img/iris12.png" alt="LIMITED LONGHORN™">
						<h4 class="cars-carousel__title">Limited Longhorn™</h4>
					</li>
					<li class="cars-carousel__item" id="56">
						<img class="cars-carousel__img" src="<%=path%>img/iris13.png" alt="LIMITED">
						<h4 class="cars-carousel__title">Limited</h4>
					</li>
				</div>
			</ul>
			<div class="specs__info row center"></div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Переходник -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="nextprev">
			<a href="/ram-2500/gallery/" class="nextprev__link nextprev__link_prev">
				<span class="nextprev__icon _icon-chevron-left-2"></span>
				<div>
					<p class="nextprev__sup">Предыдущая</p>
					<p class="nextprev__page">Галерея</p>
				</div>
			</a>
			<a href="/ram-2500/exterior/" class="nextprev__link nextprev__link_next">
				<div>
					<p class="nextprev__sup">Следующая</p>
					<p class="nextprev__page">Экстерьер</p>
				</div>
				<span class="nextprev__icon _icon-chevron-right-2"></span>
			</a>
		</div>
		

	</main>

	<!-- Скрипты для страницы -->
	<script src="<%=path%>js/app.min.js"></script>
</body>
</html>