<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!doctype html>
<!-- Оболочка документа, указываем яык содержимого -->
<html lang="en">

<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
@@include('../../_header.html', {"title":"2021 Ram 2500 Interior | Available Mega Cab® & More"})

<!-- Отображаемое тело страницы -->
<body>
	<!-- Оболочка для демонстрации -->
	<main class="main">

		<!-- Контент -->

		<!-- -=-=-=-=-=-=-=-=-=-=-= Навигация по модели -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="secondary-navigation__modelname secondary-navigation__modelname_mobile">
			<!-- мобильная надпись(скрыто на десктопах) -->
			<h1 class="secondary-navigation__title">2021 RAM 2500</h1>
		</div>
		<div class="secondary-navigation" id="secondary-nav">
			<div class="secondary-navigation__modelname">
				<!-- надпись модели -->
				<h1 class="secondary-navigation__title">2021 RAM 2500</h1>
			</div>
			<nav class="secondary-navigation__menu nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/">
							Обзор
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/#trims">
							Выбери свой RAM
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/gallery/">
							Галерея
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/capability/">
							Возможности
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/exterior/">
							Экстерьер
						</a>
					</li>
					<li class="nav__item nav__item_active">
						<a class="nav__link" href="/ram-2500/interior/">
							Интерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/safety-security/">
							Безопасность и защита
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/compare/">
							Сравнить
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/specs/">
							Спецификации
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/commercial/">
							RAM для бизнеса
						</a>
					</li>
				</ul>
			</nav>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Первый экран: RAM 2500 Интерьер -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<div class="qvmedia-block__suptitle">
				2021 RAM 2500 ИНТЕРЬЕР
			</div>
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Первоклассный и высокотехнологичный салон
			</h2>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-01_Hero_01.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-RAM-2500-04-Interior-02-Mobile-01-Hero_01.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-01_Hero_01.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-04-Interior-02-Mobile-01-Hero_01.jpg" alt="A three-quarter view of the 2021 Ram 1500 posed against a red brick wall.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Зеркало заднего вида -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="img-desc">
			<h2 class="img-desc__title">
				Цифровое зеркало заднего вида
			</h2>
			<div class="img-desc__grid">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Mirror-Desktop.jpg.image.1000.jpg, <%=path%>img/DT21-Interior-HUD-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Mirror-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-Interior-Mirror-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Mirror-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-Interior-Mirror-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Interior-HUD-IIHS-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-Interior-Mirror-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-Interior-Mirror-Mobile.jpg.image.1000.jpg 2x" alt="">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Расширьте обзор
					</h2>
					<p class="img-desc__text">
						Получите полный обзор дороги позади вас. Новое цифровое зеркало заднего вида оснащено встроенным ЖК-монитором, который при включении обеспечивает видео с камеры заднего вида.
					</p>
				</div>
			</div>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Приборная панель -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="img-desc">
			<h2 class="img-desc__title">
				Цифровая приборная панель
			</h2>
			<div class="img-desc__grid img-desc__grid_reverse">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Display-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-Interior-Display-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Display-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-Interior-Display-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Display-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-Interior-Display-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-Interior-Display-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-Interior-Display-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-Interior-Display-Mobile.jpg.image.1000.jpg 2x" alt="The Driver Information Digital Cluster Display in the 2021 Ram 2500 with the trailer light check in progress displayed.">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Настройте под себя вывод данных на приборную панель
					</h2>
					<p class="img-desc__text">
						Управляйте автомобилем не отвлекаясь от дороги, благодаря новейшему 7-дюймовому монитору приборной панели премиум-класса. Вы получите доступ к доступным новым функциям, таким как Trailer Light Check и Off-Road Pages, которые оформлены полноцветной трехмерной графикой.
					</p>
				</div>
			</div>
		</div>
		

		<!-- -=-=-=-=-=-=-=-=-=-=-= Мультимедийный центр -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="sticky-media gcss-theme-light">
			<h2 class="sticky-media__title">
				Мультимедийный центр Uconnect<sup>®</sup>
			</h2>
			<div class="row">
				<div class="sticky-media__dynamic col-xs-6 col-sm-6 col-lg-7">
					<img class="sticky-media__image sticky-media__image_active lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-02-Features-03.jpg" id="123" alt="">
					<img class="sticky-media__image lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-02-Features-04.jpg" id="234" alt="">
					<img class="sticky-media__image lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-02-Features-05.jpg" id="345" alt="">
				</div>
				<div class="sticky-media__static col-xs-6 col-sm-6 col-lg-4">
					<div class="sticky-media__item sticky-media__item_active" data-target="123">
						<h2 class="sticky-media__item-title">
							Огромный 12-дюймовый сенсорный экран
						</h2>
						<p class="sticky-media__text">
							С усовершенствованным, крупнейшим в своем классе 12-дюймовым сенсорным экраном и приложениями SiriusXM<sup>®</sup> с SiriusXM Travel Link и SiriusXM Traffic Plus центр Uconnect<sup>®</sup> 12.0 с навигацией может похвастаться настраиваемым домашним экраном с возможностью разделения экрана 50/50, технологией сжатия и масштабирования и контролем в режиме онлайн основных функций автомобиля. С этими возможностями у вас всегда под рукой только нужные данные и вы можете легко получить доступ к любой сервисной информации или функции.
						</p>
					</div>
					<div class="sticky-media__item" data-target="234">
						<h2 class="sticky-media__item-title">
							Подключите ваш смартфон
						</h2>
						<p class="sticky-media__text">
							Усовершенствованная система Uconnect<sup>®</sup> позволяет пользователям iPhone<sup>®</sup> и Android™ оставаться всегда на связи в дороге. Плюс, с Apple CarPlay<sup>®</sup> вы можете слушать музыку, отправлять и принимать звонки, получать подсказки навигации и получать доступ к избранным приложениям для iPhone с выводом на 12-дюймовый сенсорный экран системы Uconnect<sup>®</sup>. Интеграция Android Auto™ обеспечивает доступ к приложениям и возможность совершать звонки, открывать плейлисты и делать многое другое не отвлекаясь от дороги.
						</p>
					</div>
					<div class="sticky-media__item" data-target="345">
						<h2 class="sticky-media__item-title">
							Получите эксклюзивные развлечения
						</h2>
						<p class="sticky-media__text">
							SiriusXM<sup>®</sup> с платной подпиской 360L позволяет легко развлекаться в дороге с эксклюзивными персонализированными станциями на базе сети Pandora<sup>®</sup>, с полным голосовым управлением и другими функциями. Благодаря синхронизации между приложением на вашем смартфоне и Uconnect<sup>®</sup>, вы сможете дослушать любимую композицию даже после того, как прибыли в пункт назначения. Точка доступа Wi-Fi 4G позволяет вашим пассажирам оставаться на связи на дороге. Плюс, с SiriusXM Guardian™ вы получите годовую пробную подписку с доступом к службе спасения и удаленному запуску автомобиля через приложение Uconnect<sup>®</sup>, где бы вы ни находились.
						</p>
					</div>
				</div>
			</div>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Звучание аудиосистемы -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="img-desc">
			<h2 class="img-desc__title">
				Улучшаем звучание аудиосистемы
			</h2>
			<div class="img-desc__grid img-desc__grid_reverse">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Sound-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-Interior-Sound-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Sound-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-Interior-Sound-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Sound-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-Interior-Sound-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-Interior-Sound-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-Interior-Sound-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-Interior-Sound-Mobile.jpg.image.1000.jpg 2x" alt="">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Премиальный объемный звук
					</h2>
					<p class="img-desc__text">
						RAM 2500 2021 года улучшает шумоизоляцию благодаря встроенным в кузов модулям подавления резонансного звучания и внутренней системе активного шумоподавления, которая позволяет вам наслаждаться высококачественным объемным звуком 900-ваттной аудиосистемы Harman Kardon<sup>®</sup> Premium, которая включает в себя 17 динамиков - своеобразный рекорд в своём классе.
					</p>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Максимум роскоши -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="sticky-media gcss-theme-light">
			<h2 class="sticky-media__title">
				Получите максимум роскоши
			</h2>
			<div class="row">
				<div class="sticky-media__dynamic col-xs-6 col-sm-6 col-lg-7">
					<img class="sticky-media__image sticky-media__image_active lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-02-Features-07.jpg" id="456" alt="">
					<img class="sticky-media__image lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-02-Features-8.jpg" id="567" alt="">
				</div>
				<div class="sticky-media__static col-xs-6 col-sm-6 col-lg-4">
					<div class="sticky-media__item sticky-media__item_active" data-target="456">
						<h2 class="sticky-media__item-title">
							Интерьер Limited
						</h2>
						<p class="sticky-media__text">
							Интерьер RAM 2500 Limited 2021 года выводит роскошь на новый уровень. Это пикап с полностью кожаным салоном и вставками из натурального дерева и цельного алюминия.
						</p>
					</div>
					<div class="sticky-media__item" data-target="567">
						<h2 class="sticky-media__item-title">
							Интерьер Limited Longhorn™
						</h2>
						<p class="sticky-media__text">
							Филигранная прострочка на сиденьях модели 2021 RAM 2500 Limited Longhorn™ добавляет изысканные детали в стиле Дикого Запада к интерьеру премиум-класса из натуральной кожи в коричневом оттенке.
						</p>
					</div>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Power Wagon -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Power Wagon<sup>®</sup> Ограниченная серия к 75-летию модели
			</h2>
			<div class="qvmedia-block__subtitle col-md-6 center not-float">
				RAM 2500 Power Wagon<sup>®</sup> 75th Anniversary Edition 2021 года отдаёт дань уважения своему наследию. Созданный для бездорожья, с интерьером в традиционной цветовой гамме, эта версия может похвастаться почетными отметками, которых заслуживают 75 лет службы.
			</div>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/PW75-MY21-2500-Interior-Banner-Desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/PW75-MY21-2500-Interior-Banner-Mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/PW75-MY21-2500-Interior-Banner-Desktop.jpg" data-srcset="<%=path%>img/PW75-MY21-2500-Interior-Banner-Mobile.jpg" alt="The 7-inch Driver Information Digital Cluster Display showing the status of the trailer light check.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Особенности интерьера -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<ul class="blurb-rail__list row d-block">
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/PW75-MY21-2500-Interior-1.jpg.image.1440.jpg, <%=path%>img/PW75-MY21-2500-Interior-1.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/PW75-MY21-2500-Interior-1.jpg.image.1000.jpg, <%=path%>img/PW75-MY21-2500-Interior-1.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/PW75-MY21-2500-Interior-1.jpg.image.700.jpg, <%=path%>img/PW75-MY21-2500-Interior-1.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/PW75-MY21-2500-Interior-1.jpg.image.1440.jpg" data-srcset="<%=path%>img/PW75-MY21-2500-Interior-1.jpg.image.500.jpg, <%=path%>img/PW75-MY21-2500-Interior-1.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<p class="blurb-rail__item-description">
							Эксклюзивное юбилейное лого на сиденьях, центральной консоли и верхнем перчаточном ящике.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/PW75-MY21-2500-Interior-2.jpg.image.1440.jpg, <%=path%>img/PW75-MY21-2500-Interior-2.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/PW75-MY21-2500-Interior-2.jpg.image.1000.jpg, <%=path%>img/PW75-MY21-2500-Interior-2.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/PW75-MY21-2500-Interior-2.jpg.image.700.jpg, <%=path%>img/PW75-MY21-2500-Interior-2.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/PW75-MY21-2500-Interior-2.jpg.image.1440.jpg" data-srcset="<%=path%>img/PW75-MY21-2500-Interior-2.jpg.image.500.jpg, <%=path%>img/PW75-MY21-2500-Interior-2.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<p class="blurb-rail__item-description">
							Новые сиденья премиум-класса с кожаной отделкой чёрного и коричневого цвета с прострочкой серого цвета
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/PW75-MY21-2500-Interior-3.jpg.image.1440.jpg, <%=path%>img/PW75-MY21-2500-Interior-3.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/PW75-MY21-2500-Interior-3.jpg.image.1000.jpg, <%=path%>img/PW75-MY21-2500-Interior-3.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/PW75-MY21-2500-Interior-3.jpg.image.700.jpg, <%=path%>img/PW75-MY21-2500-Interior-3.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/PW75-MY21-2500-Interior-3.jpg.image.1440.jpg" data-srcset="<%=path%>img/PW75-MY21-2500-Interior-3.jpg.image.500.jpg, <%=path%>img/PW75-MY21-2500-Interior-3.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<p class="blurb-rail__item-description">
							Новый блок управления режимами работы трансмиссии
						</p>
					</li>
				</ul>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Трансформация сидений заднего ряда -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="sticky-media gcss-theme-light">
			<h2 class="sticky-media__title">
				Трансформация сидений заднего ряда
			</h2>
			<div class="row">
				<div class="sticky-media__dynamic col-xs-6 col-sm-6 col-lg-7">
					<img class="sticky-media__image sticky-media__image_active lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-02-Features-13.jpg" id="678" alt="">
					<img class="sticky-media__image lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-02-Features-14.jpg" id="789" alt="">
					<img class="sticky-media__image lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-02-Features-15.jpg" id="890" alt="">
				</div>
				<div class="sticky-media__static col-xs-6 col-sm-6 col-lg-4">
					<div class="sticky-media__item sticky-media__item_active" data-target="678">
						<h2 class="sticky-media__item-title">
							Три раздельных места на заднем ряду
						</h2>
						<p class="sticky-media__text">
							Если вы хотите получить впечатляющее внутреннее пространство, выберите кабину Mega Cab<sup>®</sup>, которая может похвастаться впечатляющими внутренними возможностями для хранения вещей и пространством для ног задних пассажиров до спинки переднего сиденья более 1 метра.
						</p>
					</div>
					<div class="sticky-media__item" data-target="789">
						<h2 class="sticky-media__item-title">
							Спинка заднего сидения в сложеном состоянии
						</h2>
						<p class="sticky-media__text">
							Увеличьте возможности перевозки груза с помощью одинарного складывающегося левого заднего сиденья, чтобы вы могли перевозить ценные грузы в салоне автомобиля, сохраняя при этом комфорт для задних пассажиров.
						</p>
					</div>
					<div class="sticky-media__item" data-target="890">
						<h2 class="sticky-media__item-title">
							Все спинки заднего сидения в сложеном состоянии
						</h2>
						<p class="sticky-media__text">
							Наслаждайтесь 20-сантиметровым боксом для хранения вещей за спинками сидений заднего ряда в сложенном состоянии.
						</p>
					</div>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Дополнительные места для хранения -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="img-desc">
			<h2 class="img-desc__title">
				Дополнительные места для хранения
			</h2>
			<div class="img-desc__grid img-desc__grid_reverse">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Storage-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-Interior-Storage-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Storage-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-Interior-Storage-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-Interior-Storage-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-Interior-Storage-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-Interior-Storage-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-Interior-Storage-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-Interior-Storage-Mobile.jpg.image.1000.jpg 2x" alt="">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Используйте для хранения любых вещей
					</h2>
					<p class="img-desc__text">
						Складываете ли вы инструменты или спортивный инвентарь, RAM 2500 2021 года удовлетворит ваши потребности благодаря продвинутым местам для хранения, включая доступные только для RAM пространства, предлагающие боксы для хранения со съёмными вставками и 38-сантиметровое отделение под задним сиденьем, трансформируемый центральный бокс, а также достаточное количество других боксов и отделений в дверях.
					</p>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Галерея -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="alfagallery" id="gallery">
			<h2 class="alfagallery__title">
				Галерея
			</h2>
			<div class="alfagallery__grid">
				<div class="alfagallery__column alfagallery__column_first">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery-01.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery-01-Thumbnail.jpg" alt="The trailer cam display on the Uconnect touchscreen in the 2021 Ram 2500. Always check entire surroundings visually before proceeding.">
					</a>
					<div class="alfagallery__column-mini">
						<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery_02.jpg">
							<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery-02-Thumbnail.jpg" alt="The trailer cam display on the Uconnect touchscreen in the 2021 Ram 2500. Always check entire surroundings visually before proceeding.">
						</a>
						<a class="alfagallery__item alfagallery__item_third" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery-3.jpg">
							<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery-3-Thumbnail.jpg" alt="A close-up of a burned-in Limited Longhorn Edition branding mark on the real wood interior trim in the 2021 Ram 2500 Limited Longhorn.">
						</a>
					</div>
				</div>
				<div class="alfagallery__column alfagallery__column_second">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery_04.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery-04-Thumbnail.jpg" alt="The driver seat in the 2021 Ram 2500 Power Wagon.">
					</a>
				</div>
				<div class="alfagallery__column alfagallery__column_third">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery_05.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery-05-Thumbnail.jpg" alt="The barnwood and aluminum door trim and power controls for the exterior mirrors, windows and door locks on the 2021 Ram 2500 Limited Longhorn.">
					</a>
					<a class="alfagallery__item alfagallery__item_last" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery_06.jpg.image.1440.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-04-Interior-01-Desktop-03-Gallery-06-Thumbnail.jpg" alt="The barnwood and aluminum door trim and power controls for the exterior mirrors, windows and door locks on the 2021 Ram 2500 Limited Longhorn.">
					</a>
				</div>
			</div>
			<a class="alfagallery__link btn gcss-button" href="/ram-2500/gallery/">
				Изучить полную галерею
			</a>
		</section>


		<!-- Микроконфигуратор -->
		<section class="specs gcss-theme-light" id="trims">
			<h2 class="specs__title">
				Выбери свой RAM
			</h2>
			<div class="specs__subtitle">
				Модуль выбора комплектации
			</div>
			<ul class="cars-carousel">
				<div class="cars-carousel__wrapper owl-carousel center">
					<li class="cars-carousel__item" id="32">
						<img class="cars-carousel__img" src="<%=path%>img/iris8.png" alt="TRADESMAN®">
						<h4 class="cars-carousel__title">Tradesman<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="38">
						<img class="cars-carousel__img" src="<%=path%>img/iris9.png" alt="BIG HORN®">
						<h4 class="cars-carousel__title">Big Horn<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="45">
						<img class="cars-carousel__img" src="<%=path%>img/iris10.png" alt="LARAMIE®">
						<h4 class="cars-carousel__title">Laramie<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="50">
						<img class="cars-carousel__img" src="<%=path%>img/iris11.png" alt="POWER WAGON">
						<h4 class="cars-carousel__title">Power Wagon</h4>
					</li>
					<li class="cars-carousel__item" id="51">
						<img class="cars-carousel__img" src="<%=path%>img/iris12.png" alt="LIMITED LONGHORN™">
						<h4 class="cars-carousel__title">Limited Longhorn™</h4>
					</li>
					<li class="cars-carousel__item" id="56">
						<img class="cars-carousel__img" src="<%=path%>img/iris13.png" alt="LIMITED">
						<h4 class="cars-carousel__title">Limited</h4>
					</li>
				</div>
			</ul>
			<div class="specs__info row center"></div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Переходник -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="nextprev">
			<a href="/ram-2500/exterior/" class="nextprev__link nextprev__link_prev">
				<span class="nextprev__icon _icon-chevron-left-2"></span>
				<div>
					<p class="nextprev__sup">Предыдущая</p>
					<p class="nextprev__page">Экстерьер</p>
				</div>
			</a>
			<a href="/ram-2500/safety-security/" class="nextprev__link nextprev__link_next">
				<div>
					<p class="nextprev__sup">Следующая</p>
					<p class="nextprev__page">Безопасность и защита</p>
				</div>
				<span class="nextprev__icon _icon-chevron-right-2"></span>
			</a>
		</div>


	</main>

	<!-- Скрипты для страницы -->
	<script src="<%=path%>js/app.min.js"></script>
</body>
</html>