<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!doctype html>
<!-- Оболочка документа, указываем яык содержимого -->
<html lang="en">

<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
@@include('../../_header.html', {"title":"Экстерьер"})

<!-- Отображаемое тело страницы -->
<body>
	<!-- Оболочка для демонстрации -->
	<main class="main">

		<!-- Контент -->

		<!-- -=-=-=-=-=-=-=-=-=-=-= Навигация по модели -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="secondary-navigation__modelname secondary-navigation__modelname_mobile">
			<h1 class="secondary-navigation__title">2021 RAM 1500</h1>
		</div>
		<div class="secondary-navigation" id="secondary-nav">
			<div class="secondary-navigation__modelname">
				<!-- надпись модели -->
				<h1 class="secondary-navigation__title">2021 RAM 1500</h1>
			</div>
			<nav class="secondary-navigation__menu nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/">
							Обзор
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/gallery/">
							Галерея
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/capability/">
							Возможности
						</a>
					</li>
					<li class="nav__item nav__item_active">
						<a class="nav__link" href="/ram-1500/exterior/">
							Экстерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/interior/">
							Интерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/safety-security/">
							Безопасность и защита
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/multifunction-tailgate/">
							Многофункциональный откидной борт
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/compare/">
							Сравнить
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/specs/">
							Спецификации
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/commercial/">
							RAM для бизнеса
						</a>
					</li>
				</ul>
			</nav>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Первый экран: экстеръер Ram 1500 -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<!-- надзаголовок секции -->
			<div class="qvmedia-block__suptitle">
				2021 RAM 1500 ЭКСТЕРЬЕР
			</div>
			<!-- заголовок секции -->
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Выдающийся неповторимый дизайн
			</h2>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/DT21-Exterior-hero-Desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-Exterior-hero-mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Exterior-hero-Desktop.jpg" data-srcset="<%=path%>img/DT21-Exterior-hero-mobile.jpg" alt="A three-quarter view of the 2021 Ram 1500 posed against a red brick wall.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Безопасность -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="img-desc">
			<div class="img-desc__grid img-desc__grid_reverse">
				<!-- изображение к описанию -->
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-1500-Exterior-IIHS-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-1500-Exterior-IIHS-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-1500-Exterior-IIHS-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-1500-Exterior-IIHS-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-1500-Exterior-IIHS-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-1500-Exterior-IIHS-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-1500-Exterior-IIHS-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-1500-Exterior-IIHS-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-1500-Exterior-IIHS-Mobile.jpg.image.1000.jpg 2x" alt="A close-up of the front end of a 2021 Ram 1500 Crew Cab Limited.">
				</picture>
				<!-- текстовое описание -->
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Первый пикап в истории удостоенный награды самый безопасный пикап три года подряд(2019-2021 гг.)
					</h2>
					<p class="img-desc__text">
						Правильно, мы сделали это снова. Модель RAM 1500 Crew Cab с системой предупреждения о лобовом столкновении с функцией активного торможения и адаптивные светодиодные фары снова были названы лучшим выбором для безопасности в 2021 году Страховым институтом дорожной безопасности третий год подряд.
					</p>
					<a class="img-desc__link btn gcss-button" href="/ram-1500/safely-security/">
						Изучить безопасность
					</a>
				</div>
			</div>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Поле зрения -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="img-desc">
			<div class="img-desc__grid">
				<!-- изображение к описанию -->
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-1500-Exterior-Mirrors-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-1500-Exterior-Mirrors-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-1500-Exterior-Mirrors-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-1500-Exterior-Mirrors-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-1500-Exterior-Mirrors-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-1500-Exterior-Mirrors-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-1500-Exterior-Mirrors-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-1500-Exterior-Mirrors-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-1500-Exterior-Mirrors-Mobile.jpg.image.1000.jpg 2x" alt="The 2021 Ram 1500 pulling a boat on a trailer.">
				</picture>
				<!-- тестовое описание -->
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Держи в поле зрения
					</h2>
					<p class="img-desc__text">
						Сверхширокие зеркала заднего вида для буксировки прицепа с электроприводом теперь оснащены камерой кругового обзора 360°. Настройте под себя, чтобы обеспечить исключительный обзор во время буксировки прицепа или сложите их, когда вам нужно маневрировать в ограниченном пространстве.
					</p>
				</div>
			</div>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Задняя дверь -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="copy-box gcss-theme-light" id="performance">
			<!-- заголовок секции -->
			<h2 class="copy-box__title">
				Многофункциональный задний борт
			</h2>
			<div class="row">
				<!-- абзац текста -->
				<p class="copy-box__text col-xs-10 col-sm-10 col-md-6 col-lg-6 not-float">
					Многофункциональный задний борт был разработан с двумя распашными секциями 60/40, которые открываются на 88°, обеспечивая лёгкий доступ к грузовой платформе, сохраняя при этом надёжность.
				</p>
			</div>
			<!-- переход на multifunction-tailgate -->
			<a class="copy-box__link gcss-button btn" href="/ram-1500/multifunction-tailgate/">
				Изучить многофункциональный задний борт
			</a>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Задняя дверь: большое изображение -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="qvmedia-block">
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/DT21-Exterior-MFTG-Desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-Exterior-MFTG-Mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Exterior-MFTG-Desktop.jpg" data-srcset="<%=path%>img/DT21-Exterior-MFTG-Mobile.jpg" alt="">
			</picture>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Особенности -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<!-- заголовок секции -->
				<h2 class="blurb-rail__title" style="margin-bottom:0">
					Ваши помощники
				</h2>
				<!-- абзац текста -->
				<p class="blurb-rail__text">
					Рассмотрите усовершенствования функционала, которые делают RAM 1500 2021 года таким отличительным.
				</p>
				<!-- список особенностей -->
				<ul class="blurb-rail__list row">
					<!-- особенность 1 -->
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-Tailgate-01.jpg.image.1440.jpg, <%=path%>img/DT21-Exterior-Blurb-Tailgate-01.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-Tailgate-01.jpg.image.1000.jpg, <%=path%>img/DT21-Exterior-Blurb-Tailgate-01.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-Tailgate-01.jpg.image.700.jpg, <%=path%>img/DT21-Exterior-Blurb-Tailgate-01.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Exterior-Blurb-Tailgate-01.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Exterior-Blurb-Tailgate-01.jpg.image.500.jpg, <%=path%>img/DT21-Exterior-Blurb-Tailgate-01.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Демпфер заднего борта
						</h3>
						<p class="blurb-rail__item-description">
							Упоры заднего борта, заполненные азотом и маслом, обеспечивают равномерное и плавное раскрытие даже в самом холодном или жарком климате. Борт грузового кузова с электроприводом и управлением с помощью брелка делает его открытие проще, чем когда-либо.
						</p>
					</li>
					<!-- особенность 2 -->
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-Rambox-02.jpg.image.1440.jpg, <%=path%>img/DT21-Exterior-Blurb-Rambox-02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-Rambox-02.jpg.image.1000.jpg, <%=path%>img/DT21-Exterior-Blurb-Rambox-02.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-Rambox-02.jpg.image.700.jpg, <%=path%>img/DT21-Exterior-Blurb-Rambox-02.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Exterior-Blurb-Rambox-02.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Exterior-Blurb-Rambox-02.jpg.image.500.jpg, <%=path%>img/DT21-Exterior-Blurb-Rambox-02.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Опция RAMBOX<sup>®</sup>
						</h3>
						<p class="blurb-rail__item-description">
							Никогда ещё хранение ручной поклажи и небольших предметов не были так удобны, как с эксклюзивной в своём классе фирменной опцией RamBox<sup>®</sup>. Храните, перевозите с комфортом.
						</p>
					</li>
					<!-- особенность 3 -->
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-RunningBoards-03.jpg.image.1440.jpg, <%=path%>img/DT21-Exterior-Blurb-RunningBoards-03.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-RunningBoards-03.jpg.image.1000.jpg, <%=path%>img/DT21-Exterior-Blurb-RunningBoards-03.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-RunningBoards-03.jpg.image.700.jpg, <%=path%>img/DT21-Exterior-Blurb-RunningBoards-03.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Exterior-Blurb-RunningBoards-03.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Exterior-Blurb-RunningBoards-03.jpg.image.500.jpg, <%=path%>img/DT21-Exterior-Blurb-RunningBoards-03.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Подножки с электроприводом
						</h3>
						<p class="blurb-rail__item-description">
							Подножки с электроприводом выдвигаются автоматически, когда дверь открывается, чтобы помочь вам с лёгкостью подняться и сесть в автомобиль.
						</p>
					</li>
					<!-- особенность 4 -->
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-Lights-04.jpg.image.1440.jpg, <%=path%>img/DT21-Exterior-Blurb-Lights-04.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-Lights-04.jpg.image.1000.jpg, <%=path%>img/DT21-Exterior-Blurb-Lights-04.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Exterior-Blurb-Lights-04.jpg.image.700.jpg, <%=path%>img/DT21-Exterior-Blurb-Lights-04.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Exterior-Blurb-Lights-04.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Exterior-Blurb-Lights-04.jpg.image.500.jpg, <%=path%>img/DT21-Exterior-Blurb-Lights-04.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Светодиодные фары
						</h3>
						<p class="blurb-rail__item-description">
							Мощный капот, фирменный стиль фар и тщательно продуманная решетка радиатора служат примером впечатляющего дизайна, включая активную заслонку радиатора и полностью светодиодные фары.
						</p>
					</li>
				</ul>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Аксесуары -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<!-- заголовок секции -->
				<h2 class="blurb-rail__title" style="margin-bottom:0">
					Аксессуары MOPAR<sup>®</sup>
				</h2>
				<!-- абзац текста -->
				<p class="blurb-rail__text">
					Прокачайте свой RAM 1500 2021 года эксклюзивными аксессуарами Mopar<sub>®</sub>.
				</p>
				<!-- список аксесуаров -->
				<ul class="blurb-rail__list row">
					<!-- аксесуар 1 -->
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Exterior-Mopar-Cover-01.jpg.image.1440.jpg, <%=path%>img/DT21-Exterior-Mopar-Cover-01.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Exterior-Mopar-Cover-01.jpg.image.1000.jpg, <%=path%>img/DT21-Exterior-Mopar-Cover-01.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Exterior-Mopar-Cover-01.jpg.image.700.jpg, <%=path%>img/DT21-Exterior-Mopar-Cover-01.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Exterior-Mopar-Cover-01.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Exterior-Mopar-Cover-01.jpg.image.500.jpg, <%=path%>img/DT21-Exterior-Mopar-Cover-01.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Цельная крышка кузова в цвет кузова
						</h3>
						<p class="blurb-rail__item-description">
							Цельная крышка кузова, разработанная специально для грузовых бортов RAM 1500 2021 года, имеет систему двойного уплотнения, специальные направляющие, окраску в цвет кузова и внутреннюю подсветку кузова. Доступно в общей сложности 12 различных цветов для кузова длиной 5'7 (174 см.) и 6'4 (195 см.). Парт номер 82215251AB.
						</p>
						<a class="blurb-rail__item-link gcss-button-tertiary" href="#">
							Изучить больше
						</a>
					</li>
					<!-- аксесуар 2 -->
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Exterior-Mopar-WheelFlares-02.jpg.image.1440.jpg, <%=path%>img/DT21-Exterior-Mopar-WheelFlares-02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Exterior-Mopar-WheelFlares-02.jpg.image.1000.jpg, <%=path%>img/DT21-Exterior-Mopar-WheelFlares-02.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Exterior-Mopar-WheelFlares-02.jpg.image.700.jpg, <%=path%>img/DT21-Exterior-Mopar-WheelFlares-02.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Exterior-Mopar-WheelFlares-02.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Exterior-Mopar-WheelFlares-02.jpg.image.500.jpg, <%=path%>img/DT21-Exterior-Mopar-WheelFlares-02.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Off-road расширители колесных арок
						</h3>
						<p class="blurb-rail__item-description">
							Придайте брутальности вашему RAM 1500 с помощью расширителей колесных арок Mopar<sup>®</sup>. Они предназначены для максимальной защиты от мусора, веток и гравия. Парт номер 882215284AB.
						</p>
						<a class="blurb-rail__item-link gcss-button-tertiary" href="#">
							Изучить больше
						</a>
					</li>
					<!-- аксесуар 3 -->
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Exterior-Mopar-SplashGuard-03.jpg.image.1440.jpg, <%=path%>img/DT21-Exterior-Mopar-SplashGuard-03.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Exterior-Mopar-SplashGuard-03.jpg.image.1000.jpg, <%=path%>img/DT21-Exterior-Mopar-SplashGuard-03.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Exterior-Mopar-SplashGuard-03.jpg.image.700.jpg, <%=path%>img/DT21-Exterior-Mopar-SplashGuard-03.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Exterior-Mopar-SplashGuard-03.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Exterior-Mopar-SplashGuard-03.jpg.image.500.jpg, <%=path%>img/DT21-Exterior-Mopar-SplashGuard-03.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Брызговики
						</h3>
						<p class="blurb-rail__item-description">
							Защитные брызговики, отлитые из пластика повторяющие форму порога RAM 1500 2021 года, помогают защитить боковые панели кузова от гравия, соли и дорожной грязи. Парт номер 82215489AD.
						</p>
						<a class="blurb-rail__item-link gcss-button-tertiary" href="#">
							Изучить больше
						</a>
					</li>
				</ul>
			</div>
		</section>


		<!-- Микроконфигуратор -->
		<section class="specs gcss-theme-light" id="trims">
			<h2 class="specs__title">
				Выбери свой RAM
			</h2>
			<div class="specs__subtitle">
				Модуль выбора комплектации
			</div>
			<ul class="cars-carousel">
				<div class="cars-carousel__wrapper owl-carousel center">
					<li class="cars-carousel__item active" id="1">
						<img class="cars-carousel__img" src="<%=path%>img/iris.png" alt="TRADESMAN®">
						<h4 class="cars-carousel__title">Tradesman<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="9">
						<img class="cars-carousel__img" src="<%=path%>img/iris2.png" alt="BIG HORN®">
						<h4 class="cars-carousel__title">Big Horn<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="15">
						<img class="cars-carousel__img" src="<%=path%>img/iris3.png" alt="LARAMIE®">
						<h4 class="cars-carousel__title">Laramie<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="21">
						<img class="cars-carousel__img" src="<%=path%>img/iris4.png" alt="REBEL®">
						<h4 class="cars-carousel__title">Rebel<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="23">
						<img class="cars-carousel__img" src="<%=path%>img/iris5.png" alt="LIMITED LONGHORN™">
						<h4 class="cars-carousel__title">Limited Longhorn™</h4>
					</li>
					<li class="cars-carousel__item" id="27">
						<img class="cars-carousel__img" src="<%=path%>img/iris6.png" alt="LIMITED">
						<h4 class="cars-carousel__title">Limited</h4>
					</li>
				</div>
			</ul>
			<div class="specs__info center"></div>
		</section>

		<!-- -=-=-=-=-=-=-=-=-=-=-= Переходник -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="nextprev">
			<a href="/ram-1500/capability/" class="nextprev__link nextprev__link_prev">
				<span class="nextprev__icon _icon-chevron-left-2"></span>
				<div>
					<p class="nextprev__sup">Предыдущая</p>
					<p class="nextprev__page">Возможности</p>
				</div>
			</a>
			<a href="/ram-1500/interior/" class="nextprev__link nextprev__link_next">
				<div>
					<p class="nextprev__sup">Следующая</p>
					<p class="nextprev__page">Интерьер</p>
				</div>
				<span class="nextprev__icon _icon-chevron-right-2"></span>
			</a>
		</div>


	</main>

	<!-- Скрипты для страницы -->
	<script src="<%=path%>js/app.min.js"></script>
</body>
</html>