<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!doctype html>
<!-- Оболочка документа, указываем яык содержимого -->
<html lang="en">

<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
@@include('../../_header.html', {"title":"Экстерьер"})

<!-- Отображаемое тело страницы -->
<body>
	<!-- Оболочка для демонстрации -->
	<main class="main">

		<!-- Контент -->

		<!-- -=-=-=-=-=-=-=-=-=-=-= Навигация по модели -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="secondary-navigation__modelname secondary-navigation__modelname_mobile">
			<!-- мобильная надпись(скрыто на десктопах) -->
			<h1 class="secondary-navigation__title">2021 RAM 3500</h1>
		</div>
		<div class="secondary-navigation" id="secondary-nav">
			<div class="secondary-navigation__modelname">
				<!-- надпись модели -->
				<h1 class="secondary-navigation__title">2021 RAM 3500</h1>
			</div>
			<nav class="secondary-navigation__menu nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="/ram-3500/">
							Обзор
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-3500/#trims">
							Выбери свой RAM
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-3500/gallery/">
							Галерея
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-3500/capability/">
							Возможности
						</a>
					</li>
					<li class="nav__item nav__item_active">
						<a class="nav__link" href="/ram-3500/exterior/">
							Экстерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-3500/interior/">
							Интерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-3500/safety-security/">
							Безопасность и защита
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-3500/compare/">
							Сравнить
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-3500/specs/">
							Спецификации
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-3500/commercial/">
							RAM для бизнеса
						</a>
					</li>
				</ul>
			</nav>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Первый экран: RAM 3500 Экстерьер -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<div class="qvmedia-block__suptitle">
				2021 RAM 3500 ЭКСТЕРЬЕР
			</div>
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Создан чтобы выделяться из толпы
			</h2>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-01-Hero-01.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-01-Hero-01-v2.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-01-Hero-01.jpg" data-srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-01-Hero-01-v2.jpg" alt="A white 2021 Ram 2500 parked in a field with windmills in the distance.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Особенности кузова -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="feature-carousel gcss-theme-light" id="performance1">
			<h2 class="feature-carousel__title">
				Уникальные особенности кузова
			</h2>
			<ul class="feature-carousel__navlinks tabnav gcss-theme-light">
				<li class="tabnav__item active">
					<a class="tabnav__link d-block" data-target="launch" href="#">
						СИСТЕМА ХРАНЕНИЯ ГРУЗОВ RAMBOX<sup>®</sup>
					</a>
				</li>
				<li class="tabnav__item">
					<a class="tabnav__link" data-target="dashboard" href="#">
						РОЗЕТКА В КУЗОВЕ НА 115В/400ВАТТ
					</a>
				</li>
				<li class="tabnav__item">
					<a class="tabnav__link" data-target="engine" href="#">
						ПОДСВЕТКА КУЗОВА
					</a>
				</li>
			</ul>
			<div class="feature-carousel__items">
				<div class="feature-carousel__item hero" id="launch">
					<picture class="hero__bg">
						<source srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-02-Features-01.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-02-Features-01.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-02-Features-01.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-02-Features-01.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-02-Features-01.jpg.image.700.jpg, <%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-02-Features-01.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-02-Features-01.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-02-Features-01.jpg.image.500.jpg, <%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-02-Features-01.jpg.image.1000.jpg 2x" alt="A close-up of the Launch Control screen in the 2021 Ram 1500 TRX, indicating that the vehicle will launch at 4500 RPM.">
					</picture>
					<div class="hero__content static-lg top right gcss-theme-light bg-light text-left thirty">
						<h3 class="feature-carousel__itemtitle">
							Система хранения грузов RamBox<sup>®</sup>
						</h3>
						<p class="feature-carousel__text">
							Эксклюзивная система хранения грузов RamBox<sup>®</sup> предлагает два запираемых, дренируемых ящика для хранения со встроенной светодиодной подсветкой, а также такие функции, как розетка на 115 В и управление замком через брелок для ключей.
						</p>
					</div>
				</div>
				<div class="feature-carousel__item hero" id="dashboard">
					<picture class="hero__bg">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_02.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_02.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.1000.jpg 2x" alt="A close-up of the Launch Control screen in the 2021 Ram 1500 TRX, indicating that the vehicle will launch at 4500 RPM.">
					</picture>
					<div class="hero__content static-lg top left gcss-theme-light bg-light text-left thirty" style="padding: 1.42857rem">
						<h3 class="feature-carousel__itemtitle">
							Розетка на 115В/400 ВАТТ
						</h3>
						<p class="feature-carousel__text">
							Подключайте электро инструменты, светильные приборы или все, что вам нужно для питания в поездке к розетке на 115В/400 Вт, расположенной в задней части кузова пикапа со стороны водителя.
						</p>
					</div>
				</div>
				<div class="feature-carousel__item hero" id="engine">
					<picture class="hero__bg">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_03.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_03.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_03.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.1000.jpg 2x" alt="A close-up of the Launch Control screen in the 2021 Ram 1500 TRX, indicating that the vehicle will launch at 4500 RPM.">
					</picture>
					<div class="hero__content static-lg top right gcss-theme-light bg-light text-left thirty">
						<h3 class="feature-carousel__itemtitle">
							Подсветка кузова
						</h3>
						<p class="feature-carousel__text">
							Яркое светодиодное освещение, встроенное в стенки кузова, помогает использовать грузовую платформу в любое время суток.
						</p>
					</div>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Доступ в кузов и салон -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<h2 class="blurb-rail__title">
					Лёгкий доступ в кузов и салон
				</h2>
				<ul class="blurb-rail__list row d-block">
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Подножки с электроприводом
						</h3>
						<p class="blurb-rail__item-description">
							Подножки с электроприводом выдвигаются автоматически, когда дверь открывается, чтобы помочь вам с лёгкостью подняться и сесть в салон автомобиля.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Ступенька в кузов
						</h3>
						<p class="blurb-rail__item-description">
							Одним быстрым движением ноги ступенька для кузова выдвигается из-под заднего бампера, обеспечивая надежную опору для доступа в кузов. Разгрузка, погрузка и доступ в кузов удобны как никогда раньше.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Плавное откидывание заднего борта с электрозамком
						</h3>
						<p class="blurb-rail__item-description">
							Петля, соединяющая заднюю раму грузового кузова с бортом кузова, служит демпфером, позволяя плавно открывать и закрывать задний борт. Кроме того, задний борт может быть оснащён электроприводом замка и что позволяет легко открывать задний борт с помощью брелка.
						</p>
					</li>
				</ul>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Приносящий ночь -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Приносящий ночь
			</h2>
			<p class="qvmedia-block__subtitle col-md-6 not-float center">
				Пакет оформления Night Edition, доступный теперь для моделей Limited, сочетает в себе полностью чёрные детали экстерьера с выбранными вами доступными цветами кузова. Также доступно для Big Horn<sup>®</sup>/Lone Star и модели Laramie<sup>®</sup>.
			</p>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-02-Features-07.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-02-Features-07-v2.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-02-Features-07.jpg" data-srcset="<%=path%>img/MY21-RAM-3500-03-Exterior-02-Mobile-02-Features-07-v2.jpg" alt="A white 2021 Ram 2500 parked in a field with windmills in the distance.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Галерея -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="alfagallery">
			<h2 class="alfagallery__title">
				Галерея
			</h2>
			<div class="alfagallery__grid">
				<div class="alfagallery__column alfagallery__column_first">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-01.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-01-Thumb.jpg" alt="The 2021 Ram 3500 towing a trailer on a country road.">
					</a>
					<div class="alfagallery__column-mini">
						<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-02.jpg">
							<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-02-Thumb.jpg" alt="A close-up of the wheels on the 2021 Ram 3500.">
						</a>
						<a class="alfagallery__item alfagallery__item_third" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-03.jpg">
							<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-03-Thumb.jpg" alt="A close-up of one of the headlamps on the 2021 Ram 3500.">
						</a>
					</div>
				</div>
				<div class="alfagallery__column alfagallery__column_second">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-04.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-04-Thumb.jpg" alt="The 2021 Ram 3500 parked overlooking a city with mountains in the distance.">
					</a>
				</div>
				<div class="alfagallery__column alfagallery__column_third">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-05.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-05-Thumb.jpg" alt="The 2021 Ram 3500 parked overlooking a city with mountains in the distance.">
					</a>
					<a class="alfagallery__item alfagallery__item_last" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-06.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-3500-03-Exterior-01-Desktop-03-Gallery-06-Thumb.jpg" alt="The 2021 Ram 3500 towing a large RV trailer.">
					</a>
				</div>
			</div>
			<a class="alfagallery__link btn gcss-button" href="/gallery/">
				Изучить полную галерею
			</a>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Сделано за последние 5 лет -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="capabilitygraph">
			<!-- заголовок секции -->
			<h2 class="capabilitygraph__title">
				Самые выгодные обязательства по тяжёлым пикапам
			</h2>
			<div class="capabilitygraph__items col col-xs-12 col-md-10 not-float">
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Ограниченная гарантия на дизельный двигатель и коробку или
									</span>
								</h3>
							</div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="150000">150000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Специализированная помощь для дизельных автомобилей на дороге или
									</span>
								</h3>
							</div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="150000">150000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Ограниченная гарантия на бензиновый двигатель и коробку или
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="100000">100000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width:60%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Специализированная помощь для  бензиновых автомобилей на дороге или
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="100000">100000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width:60%"></div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Микроконфигуратор -->
		<section class="specs gcss-theme-light" id="trims">
			<h2 class="specs__title">
				Выбери свой RAM
			</h2>
			<div class="specs__subtitle">
				Модуль выбора комплектации
			</div>
			<ul class="cars-carousel">
				<div class="cars-carousel__wrapper owl-carousel center">
					<li class="cars-carousel__item" id="61">
						<img class="cars-carousel__img" src="<%=path%>img/iris14.png" alt="TRADESMAN®">
						<h4 class="cars-carousel__title">Tradesman<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="67">
						<img class="cars-carousel__img" src="<%=path%>img/iris15.png" alt="BIG HORN®">
						<h4 class="cars-carousel__title">Big Horn<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="74">
						<img class="cars-carousel__img" src="<%=path%>img/iris16.png" alt="LARAMIE®">
						<h4 class="cars-carousel__title">Laramie<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="79">
						<img class="cars-carousel__img" src="<%=path%>img/iris17.png" alt="LIMITED LONGHORN™">
						<h4 class="cars-carousel__title">Limited Longhorn™</h4>
					</li>
					<li class="cars-carousel__item" id="84">
						<img class="cars-carousel__img" src="<%=path%>img/iris18.png" alt="LIMITED">
						<h4 class="cars-carousel__title">Limited</h4>
					</li>
				</div>
			</ul>
			<div class="specs__info row center"></div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Переходник -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="nextprev">
			<a href="/ram-3500/capability/" class="nextprev__link nextprev__link_prev">
				<span class="nextprev__icon _icon-chevron-left-2"></span>
				<div>
					<p class="nextprev__sup">Предыдущая</p>
					<p class="nextprev__page">Возможности</p>
				</div>
			</a>
			<a href="/ram-3500/interior/" class="nextprev__link nextprev__link_next">
				<div>
					<p class="nextprev__sup">Следующая</p>
					<p class="nextprev__page">Интерьер</p>
				</div>
				<span class="nextprev__icon _icon-chevron-right-2"></span>
			</a>
		</div>


	</main>

	<!-- Скрипты для страницы -->
	<script src="<%=path%>js/app.min.js"></script>
</body>
</html>