<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!doctype html>
<!-- Оболочка документа, указываем яык содержимого -->
<html lang="en">

<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
@@include('../../_header.html', {"title":"Мультиборт"})

<!-- Отображаемое тело страницы -->
<body>
	<!-- Оболочка для демонстрации -->
	<main class="main">

		<!-- Контент -->

		<!-- -=-=-=-=-=-=-=-=-=-=-= Навигация по модели -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="secondary-navigation__modelname secondary-navigation__modelname_mobile">
			<h1 class="secondary-navigation__title">2021 RAM 1500</h1>
		</div>
		<div class="secondary-navigation" id="secondary-nav">
			<div class="secondary-navigation__modelname">
				<!-- надпись модели -->
				<h1 class="secondary-navigation__title">2021 RAM 1500</h1>
			</div>
			<nav class="secondary-navigation__menu nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/">
							Обзор
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/gallery/">
							Галерея
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/capability/">
							Возможности
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/exterior/">
							Экстерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/interior/">
							Интерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/safety-security/">
							Безопасность и защита
						</a>
					</li>
					<li class="nav__item nav__item_active">
						<a class="nav__link" href="/ram-1500/multifunction-tailgate/">
							Многофункциональный откидной борт
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/compare/">
							Сравнить
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/specs/">
							Спецификации
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/commercial/">
							RAM для бизнеса
						</a>
					</li>
				</ul>
			</nav>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Мультиборт -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<div class="qvmedia-block__suptitle">
				RAM 1500 2021 года
			</div>
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Многофункциональный задний борт
			</h2>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/DT21-MFTG-Trailer-desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-MFTG-Trailer-mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-MFTG-Trailer-desktop.jpg" data-srcset="<%=path%>img/DT21-MFTG-hero-mobile.jpg" alt="The 2021 Ram 1500 with both doors of the multifunction tailgate open to allow a man standing in the truck bed to unload gear.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Загрузка-разгрузка -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="copy-box gcss-theme-light">
			<h2 class="copy-box__title gcss-typography-brand-heading-3">
				Удобная загрузка и разгрузка
			</h2>
			<div class="row">
				<p class="copy-box__text col-xs-10 col-sm-10 col-md-6 col-lg-6 not-float">
					Для облегчения доступа откройте распашные половинки борта с разделением 60/40 с многофункциональным задним бортом, чтобы загружать предметы прямо в кузов, не упираясь как раньше в борт. Подножка по центру - новинка 2021 года, облегчает доступ в кузов.
				</p>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Особенности заднего борта -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="tiles">
			<div class="row">
				<div class="tiles__item col-xs-12 col-md-4">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/MY21-DT-MFTG-Closed.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-DT-MFTG-Closed.jpg" data-srcset="<%=path%>img/MY21-DT-MFTG-Closed.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Задний борт полностью закрыт
						</h3>
						<p class="tiles__text">
							Это все, что вы получаете с традиционным задним бортом, плюс раздельные половинки борта обеспечивают дополнительные функции, дающие большую гибкость при погрузке и разгрузке.
						</p>
					</div>
				</div>
				<div class="tiles__item col-xs-12 col-md-4">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/MY21-DT-MFTG-60-40.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-DT-MFTG-60-40.jpg" data-srcset="<%=path%>img/MY21-DT-MFTG-60-40.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Раздельный борт 60/40
						</h3>
						<p class="tiles__text">
							Распашные половинки борта 60/40, открываются на 88°, что позволяет быстро получить доступ к грузу даже если у вас сзади прицеп.
						</p>
					</div>
				</div>
				<div class="tiles__item col-xs-12 col-md-4">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/MY21-DT-MFTG-Open.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-DT-MFTG-Open.jpg" data-srcset="<%=path%>img/MY21-DT-MFTG-Open.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Задний борт откинут вниз
						</h3>
						<p class="tiles__text">
							Многофункциональный задний борт функционирует как обычный откидной задний борт, с лёгкостью выдерживая до 900 кг нагрузки.
						</p>
					</div>
				</div>
			</div>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Кузов с прицепом -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="copy-box gcss-theme-light">
			<h2 class="copy-box__title gcss-typography-brand-heading-3">
				Доступ в кузов с прицепом
			</h2>
			<div class="row">
				<p class="copy-box__text col-xs-10 col-sm-10 col-md-6 col-lg-6 not-float">
					Буксировка прицепа не должна ограничивать доступ в кузов. Вот почему раздельный распашной борт 60/40 разработан таким образом, чтобы его можно было открыть даже с присоединенным прицепом, чтобы обеспечить лёгкий доступ в кузов независимо от выполняемой задачи.
				</p>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Большое изображение -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/DT21-MFTG-Trailer-desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-MFTG-Trailer-mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-MFTG-Trailer-desktop.jpg" data-srcset="<%=path%>img/DT21-MFTG-hero-mobile.jpg" alt="Two people sitting on the open tailgate of the 2021 Ram 1500, sharing a meal.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Прочность -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="feature-panel gcss-theme-light">
			<picture class="feature-panel__img">
				<source srcset="<%=path%>img/DT21-MFTG-Strength-Desktop-1.jpg.image.1440.jpg, <%=path%>img/DT21-MFTG-Strength-Desktop-1.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
				<source srcset="<%=path%>img/DT21-MFTG-Strength-Mobile.jpg.image.1000.jpg, <%=path%>img/DT21-MFTG-Strength-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-MFTG-Strength-Mobile.jpg.image.700.jpg, <%=path%>img/DT21-MFTG-Strength-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-MFTG-Strength-Desktop-1.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-MFTG-Strength-Mobile.jpg.image.500.jpg, <%=path%>img/DT21-MFTG-Strength-Mobile.jpg.image.1000.jpg 2x" alt="The 2021 Ram 1500 pulling an RV trailer.">
			</picture>
			<div class="feature-panel__content">
				<h3 class="feature-panel__itemtitle">
					Никаких компромиссов в прочности
				</h3>
				<p class="feature-panel__text">
					Многофункциональный задний борт с максимальным погрузочным весом до 900 кг обладает повышенным запасом прочности, чтобы справиться с вашими любыми задачами по перевозке грузов.
					<div class="label">МАКСИМАЛЬНЫЙ ВЕС В КГ</div>
					<div class="icon-value-container">900</div>
				</p>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Особенности заднего борта -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<ul class="blurb-rail__list row">
					<li class="blurb-rail__item col-xs-12 col-sm-4 col-sm-offset-2">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-MFTG-Rambox-01.jpg.image.1440.jpg, <%=path%>img/DT21-MFTG-Rambox-01.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-MFTG-Rambox-01.jpg.image.1000.jpg, <%=path%>img/DT21-MFTG-Rambox-01.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-MFTG-Rambox-01.jpg.image.700.jpg, <%=path%>img/DT21-MFTG-Rambox-01.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-MFTG-Rambox-01.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-MFTG-Rambox-01.jpg.image.500.jpg, <%=path%>img/DT21-MFTG-Rambox-01.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Эксклюзивная система хранения грузов RamBox<sup>®</sup>
						</h3>
						<p class="blurb-rail__item-description">
							Эксклюзивная в своём классе система управления грузами RamBox<sup>®</sup> предлагает универсальные, устойчивые к атмосферным воздействиям, запираемые, освещаемые и дренируемые ящики для хранения с каждой стороны кузова.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-MFTG-Rambox-02.jpg.image.1440.jpg, <%=path%>img/DT21-MFTG-Rambox-02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-MFTG-Rambox-02.jpg.image.1000.jpg, <%=path%>img/DT21-MFTG-Rambox-02.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-MFTG-Rambox-02.jpg.image.700.jpg, <%=path%>img/DT21-MFTG-Rambox-02.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-MFTG-Rambox-02.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-MFTG-Rambox-02.jpg.image.500.jpg, <%=path%>img/DT21-MFTG-Rambox-02.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							RamBox<sup>®</sup> обеспечивает энергией куда бы вы не поехали
						</h3>
						<p class="blurb-rail__item-description">
							Эксклюзивная система управления грузами RamBoxsup>®</sup> комплектуется дополнительной розеткой на 115 В, так что вы можете получить необходимое вам электропитание в любом месте куда бы вы не направлялись.
						</p>
					</li>
				</ul>
			</div>
		</section>


		<!-- Микроконфигуратор -->
		<section class="specs gcss-theme-light" id="trims">
			<h2 class="specs__title">
				Выбери свой RAM
			</h2>
			<div class="specs__subtitle">
				Модуль выбора комплектации
			</div>
			<ul class="cars-carousel">
				<div class="cars-carousel__wrapper owl-carousel center">
					<li class="cars-carousel__item active" id="1">
						<img class="cars-carousel__img" src="<%=path%>img/iris.png" alt="TRADESMAN®">
						<h4 class="cars-carousel__title">Tradesman<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="9">
						<img class="cars-carousel__img" src="<%=path%>img/iris2.png" alt="BIG HORN®">
						<h4 class="cars-carousel__title">Big Horn<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="15">
						<img class="cars-carousel__img" src="<%=path%>img/iris3.png" alt="LARAMIE®">
						<h4 class="cars-carousel__title">Laramie<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="21">
						<img class="cars-carousel__img" src="<%=path%>img/iris4.png" alt="REBEL®">
						<h4 class="cars-carousel__title">Rebel<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="23">
						<img class="cars-carousel__img" src="<%=path%>img/iris5.png" alt="LIMITED LONGHORN™">
						<h4 class="cars-carousel__title">Limited Longhorn™</h4>
					</li>
					<li class="cars-carousel__item" id="27">
						<img class="cars-carousel__img" src="<%=path%>img/iris6.png" alt="LIMITED">
						<h4 class="cars-carousel__title">Limited</h4>
					</li>
				</div>
			</ul>
			<div class="specs__info center"></div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Переходник -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="nextprev">
			<a href="/ram-1500/multifunction-tailgate/" class="nextprev__link nextprev__link_prev">
				<span class="nextprev__icon _icon-chevron-left-2"></span>
				<div>
					<p class="nextprev__sup">Предыдущая</p>
					<p class="nextprev__page">Мультиборт</p>
				</div>
			</a>
			<a href="/ram-1500/" class="nextprev__link nextprev__link_next">
				<div>
					<p class="nextprev__sup">Следующая</p>
					<p class="nextprev__page">Обзор</p>
				</div>
				<span class="nextprev__icon _icon-chevron-right-2"></span>
			</a>
		</div>


	</main>

	<!-- Скрипты для страницы -->
	<script src="<%=path%>js/app.min.js"></script>
</body>
</html>