<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!doctype html>
<!-- Оболочка документа, указываем яык содержимого -->
<html lang="en">

<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
@@include('../../_header.html', {"title":"Экстерьер"})

<!-- Отображаемое тело страницы -->
<body>
	<!-- Оболочка для демонстрации -->
	<main class="main">

		<!-- Контент -->

		<!-- -=-=-=-=-=-=-=-=-=-=-= Навигация по модели -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="secondary-navigation__modelname secondary-navigation__modelname_mobile">
			<!-- мобильная надпись(скрыто на десктопах) -->
			<h1 class="secondary-navigation__title">2021 RAM 2500</h1>
		</div>
		<div class="secondary-navigation" id="secondary-nav">
			<div class="secondary-navigation__modelname">
				<!-- надпись модели -->
				<h1 class="secondary-navigation__title">2021 RAM 2500</h1>
			</div>
			<nav class="secondary-navigation__menu nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/">
							Обзор
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/#trims">
							Выбери свой RAM
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/gallery/">
							Галерея
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/capability/">
							Возможности
						</a>
					</li>
					<li class="nav__item nav__item_active">
						<a class="nav__link" href="/ram-2500/exterior/">
							Экстерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/interior/">
							Интерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/safety-security/">
							Безопасность и защита
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/compare/">
							Сравнить
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/specs/">
							Спецификации
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/commercial/">
							RAM для бизнеса
						</a>
					</li>
				</ul>
			</nav>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Первый экран: RAM 2500 Экстрерьер -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<div class="qvmedia-block__suptitle">
				2021 RAM 2500 ЭКСТЕРЬЕР
			</div>
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Создан чтобы выделяться из толпы
			</h2>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop_01_Hero_01.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-01-Hero-01.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop_01_Hero_01.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-01-Hero-01.jpg" alt="A white 2021 Ram 2500 parked in a field with windmills in the distance.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Особенности кузова -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="feature-carousel gcss-theme-light" id="performance1">
			<h2 class="feature-carousel__title">
				Уникальные особенности кузова
			</h2>
			<ul class="feature-carousel__navlinks tabnav gcss-theme-light">
				<li class="tabnav__item active">
					<a class="tabnav__link d-block" data-target="launch" href="#">
						СИСТЕМА ХРАНЕНИЯ ГРУЗОВ RAMBOX<sup>®</sup>
					</a>
				</li>
				<li class="tabnav__item">
					<a class="tabnav__link" data-target="dashboard" href="#">
						РОЗЕТКА В КУЗОВЕ НА 115В/400ВАТТ
					</a>
				</li>
				<li class="tabnav__item">
					<a class="tabnav__link" data-target="engine" href="#">
						ПОДСВЕТКА КУЗОВА
					</a>
				</li>
			</ul>
			<div class="feature-carousel__items">
				<div class="feature-carousel__item hero" id="launch">
					<picture class="hero__bg">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_01.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_01.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-01.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-01.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-01.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-01.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_01.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-01.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-01.jpg.image.1000.jpg 2x" alt="A close-up of the Launch Control screen in the 2021 Ram 1500 TRX, indicating that the vehicle will launch at 4500 RPM.">
					</picture>
					<div class="hero__content top right static-lg gcss-theme-light thirty" style="padding: 1.42857rem">
						<h3 class="feature-carousel__itemtitle">
							Система хранения грузов RamBox<sup>®</sup>
						</h3>
						<p class="feature-carousel__text">
							Эксклюзивная система хранения грузов RamBox<sup>®</sup> предлагает два запираемых, дренируемых ящика для хранения со встроенной светодиодной подсветкой, а также такие функции, как розетка на 115 В и управление замком через брелок для ключей.
						</p>
					</div>
				</div>
				<div class="feature-carousel__item hero" id="dashboard">
					<picture class="hero__bg">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_02.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_02.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-02.jpg.image.1000.jpg 2x" alt="A close-up of the Launch Control screen in the 2021 Ram 1500 TRX, indicating that the vehicle will launch at 4500 RPM.">
					</picture>
					<div class="hero__content top left static-lg gcss-theme-light thirty" style="padding: 1.42857rem">
						<h3 class="feature-carousel__itemtitle">
							Розетка на 115В/400ВАТТ
						</h3>
						<p class="feature-carousel__text">
							Подключайте электро инструменты, светильные приборы или все, что вам нужно для питания в поездке к розетке на 115В/400 Вт, расположенной в задней части кузова пикапа со стороны водителя.
						</p>
					</div>
				</div>
				<div class="feature-carousel__item hero" id="engine">
					<picture class="hero__bg">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_03.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_03.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_03.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-02-Features-03.jpg.image.1000.jpg 2x" alt="A close-up of the Launch Control screen in the 2021 Ram 1500 TRX, indicating that the vehicle will launch at 4500 RPM.">
					</picture>
					<div class="hero__content top right static-lg gcss-theme-light thirty" style="padding: 1.42857rem">
						<h3 class="feature-carousel__itemtitle">
							Подсветка кузова
						</h3>
						<p class="feature-carousel__text">
							Яркое светодиодное освещение, встроенное в стенки кузова, помогает использовать грузовую платформу в любое время суток.
						</p>
					</div>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Лёгкая посадка -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<h2 class="blurb-rail__title">
					Лёгкая посадка
				</h2>
				<ul class="blurb-rail__list row d-block">
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_04.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Подножки с электроприводом
						</h3>
						<p class="blurb-rail__item-description">
							Подножки с электроприводом выдвигаются автоматически, когда дверь открывается, чтобы помочь вам с лёгкостью подняться и сесть в салон автомобиля.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_05.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Ступенька в кузов
						</h3>
						<p class="blurb-rail__item-description">
							Одним быстрым движением ноги ступенька для кузова выдвигается из-под заднего бампера, обеспечивая надежную опору для доступа в кузов. Разгрузка, погрузка и доступ в кузов удобны как никогда раньше.
						</p>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-4">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-02-Features_06.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Плавное откидывание заднего борта с электрозамком
						</h3>
						<p class="blurb-rail__item-description">
							Петля, соединяющая заднюю раму грузового кузова с бортом кузова, служит демпфером, позволяя плавно открывать и закрывать задний борт. Кроме того, задний борт может быть оснащён электроприводом замка и что позволяет легко открывать задний борт с помощью брелка.
						</p>
					</li>
				</ul>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Внедорожные опции -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Внедорожные опции
			</h2>
			<p class="qvmedia-block__subtitle col-md-6 not-float center">
				Разработанный для бездорожья, RAM 2500 Power Wagon<sup>®</sup> 2021 года теперь доступен с расширенной группой внедорожного оборудования, включая новые колёса с блокировкой бортов и защитные рельсы днища с внедорожными боковыми подножками.
			</p>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_01.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-03-PowerWagon-01.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_01.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-03-PowerWagon-01.jpg" alt="A white 2021 Ram 2500 parked in a field with windmills in the distance.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Особенности экстерьера -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<ul class="blurb-rail__list row">
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-02.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-02.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-02.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-02.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-02.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-02.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-02.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-02.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Запоминающиеся решетка радиатора и дверь багажного отделения
						</h3>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_03.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_03.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_03.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_03.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_03.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_03.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_03.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_03.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon_03.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Колесные диски с ограничителями шин против соскакивания с обода
						</h3>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-04.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-04.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-04.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-04.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-04.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-04.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-04.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-04.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-04.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Наклейки POWER WAGON на кузов
						</h3>
					</li>
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-05.jpg.image.1440.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-05.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-05.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-05.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-05.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-05.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-05.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-05.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-03-PowerWagon-05.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Стальная защита днища/боковые подножки
						</h3>
					</li>
				</ul>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= POWER WAGON -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="hero gcss-theme-dark">
			<picture class="hero__bg">
				<source srcset="<%=path%>img/PW75-MY21-2500-Capability-Banner-Desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/PW75-MY21-2500-Capability-Banner-Mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/PW75-MY21-2500-Capability-Banner-Desktop.jpg" data-srcset="<%=path%>img/PW75-MY21-2500-Capability-Banner-Mobile.jpg" alt="A red 2021 Ram 1500 Big Horn parked on a brick courtyard near a large fountain with skyscrapers in the background.">
			</picture>
			<div class="hero__content thirty left top tablet-width-60 scale-down static-sm w100-sm">
				<strong class="hero__text hero__text_strong text-size-5">
					Ограниченная серия POWER WAGON<sup>®</sup><br> 75-летию модели
				</strong>
				<p class="hero__text">
					2021 RAM 2500 Power Wagon<sup>®</sup> 75<sup>th</sup> Anniversary Edition отдаёт дань уважения своему знаменитому наследию. Созданный для настоящего бездорожья, этот зверь может похвастаться 17-дюймовыми колесами с фиксаторами bedlock, внедорожными подножками Mopar<sup>®</sup> и эксклюзивным значком 75<sup>th</sup> Anniversary.
				</p>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Приносящий ночь -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Приносящий ночь
			</h2>
			<p class="qvmedia-block__subtitle col-md-6 center not-float">
				Пакет оформления Night Edition, доступный теперь для моделей Limited, сочетает в себе полностью чёрные детали экстерьера с выбранными вами доступными цветами кузова. Также доступно для Big Horn<sup>®</sup>/Lone Star и модели Laramie<sup>®</sup>.
			</p>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-04-NightEdition_01.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-04-NightEdition-01.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-04-NightEdition_01.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-03-Exterior-02-Mobile-04-NightEdition-01.jpg" alt="">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Галерея -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="alfagallery" id="gallery">
			<h2 class="alfagallery__title">
				Галерея
			</h2>
			<div class="alfagallery__grid">
				<div class="alfagallery__column alfagallery__column_first">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery_01.jpg.image.1440.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery-01-Thumbnail.jpg" alt="A close-up of the front end on a white 2021 Ram 2500.">
					</a>
					<div class="alfagallery__column-mini">
						<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery-02.jpg.image.1440.jpg">
							<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery-02-Thumbnail.jpg" alt="A three-quarter front view of a 2021 Ram 2500 being driven through a muddy trail, spraying dirt from its tires.">
						</a>
						<a class="alfagallery__item alfagallery__item_third" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery_03.jpg.image.1440.jpg">
							<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery-03-Thumbnail.jpg" alt="A three-quarter rear view of a 2021 Ram 2500 being driven on a street in a downtown district.">
						</a>
					</div>
				</div>
				<div class="alfagallery__column alfagallery__column_second">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery-04.jpg.image.1440.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery-04-Thumbnail.jpg" alt="A three-quarter profile view of a 2021 Ram 2500 in an industrial garage.">
					</a>
				</div>
				<div class="alfagallery__column alfagallery__column_third">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery-05.jpg.image.1440.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery-05-Thumbnail.jpg" alt="A three-quarter front view of a 2021 Ram 2500 being driven on a trail with clouds of dust emanating from the tires.">
					</a>
					<a class="alfagallery__item alfagallery__item_last" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05_Gallery_06.jpg.image.1440.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-03-Exterior-01-Desktop-05-Gallery-06-Thumbnail.jpg" alt="A head-on view of a 2021 Ram 2500 being driven on a highway in the mountains.">
					</a>
				</div>
			</div>
			<a class="alfagallery__link btn gcss-button" href="/ram-2500/gallery/">
				Изучить полную галерею
			</a>
		</section>


		<!-- Микроконфигуратор -->
		<section class="specs gcss-theme-light" id="trims">
			<h2 class="specs__title">
				Выбери свой RAM
			</h2>
			<div class="specs__subtitle">
				Модуль выбора комплектации
			</div>
			<ul class="cars-carousel">
				<div class="cars-carousel__wrapper owl-carousel center">
					<li class="cars-carousel__item" id="32">
						<img class="cars-carousel__img" src="<%=path%>img/iris8.png" alt="TRADESMAN®">
						<h4 class="cars-carousel__title">Tradesman<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="38">
						<img class="cars-carousel__img" src="<%=path%>img/iris9.png" alt="BIG HORN®">
						<h4 class="cars-carousel__title">Big Horn<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="45">
						<img class="cars-carousel__img" src="<%=path%>img/iris10.png" alt="LARAMIE®">
						<h4 class="cars-carousel__title">Laramie<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="50">
						<img class="cars-carousel__img" src="<%=path%>img/iris11.png" alt="POWER WAGON">
						<h4 class="cars-carousel__title">Power Wagon</h4>
					</li>
					<li class="cars-carousel__item" id="51">
						<img class="cars-carousel__img" src="<%=path%>img/iris12.png" alt="LIMITED LONGHORN™">
						<h4 class="cars-carousel__title">Limited Longhorn™</h4>
					</li>
					<li class="cars-carousel__item" id="56">
						<img class="cars-carousel__img" src="<%=path%>img/iris13.png" alt="LIMITED">
						<h4 class="cars-carousel__title">Limited</h4>
					</li>
				</div>
			</ul>
			<div class="specs__info row center"></div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Переходник -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="nextprev">
			<a href="/ram-2500/capability/" class="nextprev__link nextprev__link_prev">
				<span class="nextprev__icon _icon-chevron-left-2"></span>
				<div>
					<p class="nextprev__sup">Предыдущая</p>
					<p class="nextprev__page">Возможности</p>
				</div>
			</a>
			<a href="/ram-2500/interior/" class="nextprev__link nextprev__link_next">
				<div>
					<p class="nextprev__sup">Следующая</p>
					<p class="nextprev__page">Интерьер</p>
				</div>
				<span class="nextprev__icon _icon-chevron-right-2"></span>
			</a>
		</div>


	</main>

	<!-- Скрипты для страницы -->
	<script src="<%=path%>js/app.min.js"></script>
</body>
</html>