<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!doctype html>
<!-- Оболочка документа, указываем яык содержимого -->
<html lang="en">

<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
@@include('../_header.html', {"title":"2021 Ram 2500 | Пикап"})

<!-- Отображаемое тело страницы -->
<body>
	<!-- Оболочка для демонстрации -->
	<main class="main">

		<!-- Контент -->

		<!-- -=-=-=-=-=-=-=-=-=-=-= Навигация по модели -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="secondary-navigation__modelname secondary-navigation__modelname_mobile">
			<!-- мобильная надпись(скрыто на десктопах) -->
			<h1 class="secondary-navigation__title">2021 RAM 2500</h1>
		</div>
		<div class="secondary-navigation" id="secondary-nav">
			<div class="secondary-navigation__modelname">
				<!-- надпись модели -->
				<h1 class="secondary-navigation__title">2021 RAM 2500</h1>
			</div>
			<nav class="secondary-navigation__menu nav">
				<ul class="nav__list">
					<li class="nav__item nav__item_active">
						<a class="nav__link" href="/ram-2500/">
							Обзор
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/#trims">
							Выбери свой RAM
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/gallery/">
							Галерея
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/capability/">
							Возможности
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/exterior/">
							Экстерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/interior/">
							Интерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/safety-security/">
							Безопасность и защита
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/compare/">
							Сравнить
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/specs/">
							Спецификации
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-2500/commercial/">
							RAM для бизнеса
						</a>
					</li>
				</ul>
			</nav>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Первый экран: RAM 2500 -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="hero gcss-theme-dark">
			<div class="owl-carousel">
				<div class="owl-carousel__item">
					<picture class="hero__bg">
						<source srcset="<%=path%>img/MY21-RAM-2500-01-VLP-01-Desktop-01-Hero-1.jpg" media="(min-width: 992px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-01-VLP-01-Desktop-01-Hero-1.jpg" media="(min-width: 768px)">
						<source srcset="<%=path%>img/MY21-RAM-2500-01-VLP-02-Mobile-01-Hero-1.jpg" media="(min-width: 576px)">
						<img src="<%=path%>img/MY21-RAM-2500-01-VLP-01-Desktop-01-Hero-1.jpg" srcset="<%=path%>img/MY21-RAM-2500-01-VLP-02-Mobile-01-Hero-1.jpg" alt="A red 2021 Ram 2500 Limited Night Edition parked in a parking structure with its lights on.">
					</picture>
					<div class="hero__content right top thirty bg-black static-lg">
						<p class="hero__text hero__text_strong">
							ОГРАНИЧЕННАЯ СЕРИЯ RAM 2500 LIMITED NIGHT EDITION 2021.
						</p>
						<h2 class="hero__title">
							Ночной дозор
						</h2>
					</div>
				</div>
				<div class="owl-carousel__item">
					<picture class="hero__bg">
						<source srcset="<%=path%>img/PW75-MY21-2500-Overview-Hero-Desktop.jpg" media="(min-width: 992px)">
						<source srcset="<%=path%>img/PW75-MY21-2500-Overview-Hero-Tablet.jpg" media="(min-width: 768px)">
						<source srcset="<%=path%>img/PW75-MY21-2500-Overview-Hero-Mobile.jpg" media="(min-width: 576px)">
						<img src="<%=path%>img/PW75-MY21-2500-Overview-Hero-Desktop.jpg" srcset="<%=path%>img/PW75-MY21-2500-Overview-Hero-Mobile.jpg" alt="The 2021 Ram 2500 Power Wagon 75th Anniversary Edition parked in a darkened industrial garage. The Power Wagon 75 Years of Service logo.">
					</picture>
					<div class="hero__content left top thirty bg-black static-lg">
						<h2 class="hero__title">Ограниченная серия WAGON<sup>®</sup> к 75-летию модели</h2>
						<p class="hero__text hero__text_last">
							Представляем RAM 2500 Power Wagon<sup>®</sup> 2021 года выпуска, посвященного 75-летию модели. Созданный для покорения бездорожья и имеющий интерьер в традиционной цветовой гамме, этот зверь отдаёт дань уважения наследию силы своего предшественника.
						</p>
					</div>
				</div>
			</div>
			<button class="owl-pause _icon-pause" data-play="play"></button>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Возможности -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="img-desc">
			<h2 class="img-desc__title">Возможности</h2>
			<div class="img-desc__grid img-desc__grid_reverse">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Capability-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-VLP-Capability-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Capability-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-VLP-Capability-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Capability-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-VLP-Capability-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-VLP-Capability-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-VLP-Capability-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-VLP-Capability-Mobile.jpg.image.1000.jpg 2x" alt="A 2021 Ram 2500 towing a large boat.">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Подходящая мощь для буксировки
					</h2>
					<p class="img-desc__text">
						Созданный для тяжёлой работы с впечатляющими возможностями по буксировке грузов, большой полезной нагрузкой и эффективностью, обеспечиваемой мощным 6,7-литровым турбодизельным двигателем Cummins<sup>®</sup>, для RAM 2500 не найдётся работы, с которой он не справился бы.
					</p>
					<a class="img-desc__link btn gcss-button" href="/ram-2500/capability/">
						Изучить возможности
					</a>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Экстерьер -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="img-desc">
			<h2 class="img-desc__title">Экстерьер</h2>
			<div class="img-desc__grid">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Exterior-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-VLP-Exterior-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Exterior-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-VLP-Exterior-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Exterior-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-VLP-Exterior-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-VLP-Exterior-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-VLP-Exterior-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-VLP-Exterior-Mobile.jpg.image.1000.jpg 2x" alt="">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Приносящий ночь
					</h2>
					<p class="img-desc__text">
						Представляем 2021 RAM Heavy Duty Limited Night Edition. Эта версия отличается чёрной решеткой радиатора Limited с лого R-A-M, с чёрным интерьером и привлекательным дизайном. Благодаря выбору из двух впечатляющих двигателей V8 HEMI, это тёмная лошадка, на которую вы можете делать ставки.
					</p>
					<a class="img-desc__link btn gcss-button" href="/ram-2500/exterior/">
						Изучить экстерьер
					</a>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Интерьер -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="img-desc">
			<h2 class="img-desc__title">Интерьер</h2>
			<div class="img-desc__grid img-desc__grid_reverse">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Interior-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-VLP-Interior-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Interior-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-VLP-Interior-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Interior-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-VLP-Interior-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-VLP-Interior-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-VLP-Interior-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-VLP-Interior-Mobile.jpg.image.1000.jpg 2x" alt="">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						С увереностью за рулём
					</h2>
					<p class="img-desc__text">
						Новое доступное цифровое зеркало заднего вида оснащено ЖК-монитором, который при включении обеспечивает видеопоток в реальном времени с камеры заднего вида, поэтому вы всегда можете видеть дорожную обстановку позади вас.
					</p>
					<a class="img-desc__link btn gcss-button" href="/ram-2500/interior/">
						Изучить интерьер
					</a>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Безопасность -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="img-desc">
			<h2 class="img-desc__title">Безопасность</h2>
			<div class="img-desc__grid">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Safety-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-VLP-Safety-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Safety-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-2500-VLP-Safety-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-2500-VLP-Safety-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-2500-VLP-Safety-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-2500-VLP-Safety-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-2500-VLP-Safety-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-2500-VLP-Safety-Mobile.jpg.image.1000.jpg 2x" alt="The touchscreen in the 2021 Ram 2500 showing the view from the camera aimed at the pickup box and behind it.">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Лёгкой и безопасной дороги
					</h2>
					<p class="img-desc__text">
						Почувствуй спокойствие и уверенность за рулём с помощью таких функций, как камера кругового обзора 360° с траекторией движения прицепа задним ходом и адаптивным головным светом, а также рядом функций пассивной и активной безопасности.
					</p>
					<a class="img-desc__link btn gcss-button" href="/ram-2500/safety-security">
						Изучить безопасность
					</a>
				</div>
			</div>
		</section>

		
		<!-- -=-=-=-=-=-=-=-=-=-=-= Галерея -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="alfagallery">
			<h2 class="alfagallery__title">
				Галерея
			</h2>
			<div class="alfagallery__grid">
				<div class="alfagallery__column alfagallery__column_first">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-1.jpg.image.1440.jpg">
						<img class="alfagallery__img lazyload" src="<%= path %>img/loader.gif" data-src="<%= path %>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-1-Thumb.jpg" alt="The embroidered front seats of the 2021 Ram 2500 Limited Longhorn Edition.">
					</a>
					<div class="alfagallery__column-mini">
						<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-02-v2.jpg.image.1440.jpg">
							<img class="alfagallery__img lazyload" src="<%= path %>img/loader.gif" data-src="<%= path %>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-02-Thumb.jpg" alt="A man using the step pad and tailgate to climb into the pickup box of the 2021 Ram 2500.">
						</a>
						<a class="alfagallery__item alfagallery__item_third" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-03.jpg">
							<img class="alfagallery__img lazyload" src="<%= path %>img/loader.gif" data-src="<%= path %>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-03-Thumb.jpg" alt="A head-on view of a 2021 Ram 2500 parked on a prairie at twilight.">
						</a>
					</div>
				</div>
				<div class="alfagallery__column alfagallery__column_second">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-04.jpg">
						<img class="alfagallery__img lazyload" src="<%= path %>img/loader.gif" data-src="<%= path %>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-04-Thumb.jpg" alt="A head-on view of a 2021 Ram 2500 parked on a prairie at twilight.">
					</a>
				</div>
				<div class="alfagallery__column alfagallery__column_third">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-05-v2.jpg.image.1440.jpg">
						<img class="alfagallery__img lazyload" src="<%= path %>img/loader.gif" data-src="<%= path %>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-05-Thumb.jpg" alt="The barnwood and aluminum door trim and power controls for the exterior mirrors, windows and door locks on the 2021 Ram 2500 Limited Longhorn.">
					</a>
					<a class="alfagallery__item alfagallery__item_last" data-fancybox="alfagallery" href="<%=path%>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-06.jpg">
						<img class="alfagallery__img lazyload" src="<%= path %>img/loader.gif" data-src="<%= path %>img/MY21-RAM-2500-01-VLP-01-Desktop-04-Gallery-06-Thumb.jpg" alt="The barnwood and aluminum door trim and power controls for the exterior mirrors, windows and door locks on the 2021 Ram 2500 Limited Longhorn.">
					</a>
				</div>
			</div>
			<a class="alfagallery__link btn gcss-button" href="/ram-2500/gallery/">
				Изучить галерею
			</a>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Сделано за последние 5 лет -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="capabilitygraph">
			<!-- заголовок секции -->
			<h2 class="capabilitygraph__title">
				Самые выгодные обязательства по тяжёлым пикапам
			</h2>
			<div class="capabilitygraph__items col col-xs-12 col-md-10 not-float">
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Ограниченная гарантия на дизельный двигатель и коробку или
									</span>
								</h3>
							</div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="150000">150000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Специализированная помощь для дизельных автомобилей на дороге или 
									</span>
								</h3>
							</div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="150000">150000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Ограниченная гарантия на бензиновый двигатель и коробку или
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="100000">100000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width:60%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Специализированная помощь для  бензиновых автомобилей на дороге или
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="100000">100000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width:60%"></div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Микроконфигуратор -->
		<section class="specs gcss-theme-light" id="trims">
			<h2 class="specs__title">
				Выбери свой RAM
			</h2>
			<div class="specs__subtitle">
				Модуль выбора комплектации
			</div>
			<ul class="cars-carousel">
				<div class="cars-carousel__wrapper owl-carousel center">
					<li class="cars-carousel__item" id="32">
						<img class="cars-carousel__img" src="<%=path%>img/iris8.png" alt="TRADESMAN®">
						<h4 class="cars-carousel__title">Tradesman<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="38">
						<img class="cars-carousel__img" src="<%=path%>img/iris9.png" alt="BIG HORN®">
						<h4 class="cars-carousel__title">Big Horn<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="45">
						<img class="cars-carousel__img" src="<%=path%>img/iris10.png" alt="LARAMIE®">
						<h4 class="cars-carousel__title">Laramie<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="50">
						<img class="cars-carousel__img" src="<%=path%>img/iris11.png" alt="POWER WAGON">
						<h4 class="cars-carousel__title">Power Wagon</h4>
					</li>
					<li class="cars-carousel__item" id="51">
						<img class="cars-carousel__img" src="<%=path%>img/iris12.png" alt="LIMITED LONGHORN™">
						<h4 class="cars-carousel__title">Limited Longhorn™</h4>
					</li>
					<li class="cars-carousel__item" id="56">
						<img class="cars-carousel__img" src="<%=path%>img/iris13.png" alt="LIMITED">
						<h4 class="cars-carousel__title">Limited</h4>
					</li>
				</div>
			</ul>
			<div class="specs__info row center"></div>
		</section>

		
	</main>

	<!-- Скрипты для страницы -->
	<script src="<%=path%>js/app.min.js"></script>
</body>
</html>
