<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!doctype html>
<!-- Оболочка документа, указываем яык содержимого -->
<html lang="en">

<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
@@include('../../_header.html', {"title":"RAM для бизнеса"})

<!-- Отображаемое тело страницы -->
<body>
	<!-- Оболочка для демонстрации -->
	<main class="main">

		<!-- Контент -->


		<!-- -=-=-=-=-=-=-=-=-=-=-= Баннер -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="hero gcss-theme-dark">
			<picture class="hero__bg">
				<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-01-hero.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-mobile-01-hero.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-01-hero.jpg" data-srcset="<%=path%>img/my21-ram-1500-dt-commercial-mobile-01-hero.jpg" alt="A red 2021 Ram 1500 Big Horn parked on a brick courtyard near a large fountain with skyscrapers in the background.">
			</picture>
			<div class="hero__content right top tablet-width-60 bg-black scale-down static-sm w100-sm">
				<img class="lazyload tablet-width-60" style="width:230px;margin:0 auto" src="<%=path%>img/loader.gif" data-src="<%=path%>img/2021-Ram-Commercial-Logo.svg" alt="Ram Commercial logo.">
				<h3 class="hero__title text-size-6">
					Ram для бизнеса непревзойденный в своём классе расход 7.1 литра топлива на 100 км пробега с экодизелем на Ram 1500 HFE
				</h3>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Ram для бизнеса -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="copy-box gcss-theme-light">
			<h2 class="copy-box__title">
				Узнайте больше о Ram для бизнеса
			</h2>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Банера -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="tiles">
			<div class="row">
				<div class="tiles__item col-xs-12 col-md-4">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-02-explore-01-2.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-02-explore-01-2.jpg" data-srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-02-explore-01-2.jpg" alt="BusinessLink logo. The fast lane for small business.">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Получите особое отношение в дилерских центрах с BusinessLink
						</h3>
						<a class="gcss-button-tertiary gcss-button-variable" href="https://www.ramtrucks.com/ram-commercial/businesslink.html">
							Посмотрите BusinessLink
						</a>
					</div>
				</div>
				<div class="tiles__item col-xs-12 col-md-4">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-02-explore-02-2.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-02-explore-02-2.jpg" data-srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-02-explore-02-2.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Реальные владельцы, Реальные истории
						</h3>
						<a class="gcss-button-tertiary gcss-button-variable" href="https://www.ramtrucks.com/ram-commercial/work-zone.html">
							Ознакомьтесь с work zone
						</a>
					</div>
				</div>
				<div class="tiles__item col-xs-12 col-md-4">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-02-explore-03.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-02-explore-03.jpg" data-srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-02-explore-03.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Сделайте RAM рекламной вашего бизнеса
						</h3>
						<a class="gcss-button-tertiary gcss-button-variable" href="https://www.ramtrucks.com/ram-commercial/custom-graphics.html">
							Посмотрите принты пользователей
						</a>
					</div>
				</div>
			</div>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Продлите рабочий день -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="img-desc">
			<h2 class="img-desc__title">
				Продлите рабочий день
			</h2>
			<div class="img-desc__grid">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-01.jpg.image.1000.jpg" media="(min-width: 992px)">
					<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-01.jpg.image.1000.jpg" media="(min-width: 768px)">
					<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-01.jpg.image.700.jpg, <%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-01.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-01.jpg.image.1000.jpg" data-srcset="<%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-01.jpg.image.500.jpg, <%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-01.jpg.image.1000.jpg 2x" alt="The 2021 Ram 1500 towing a flatbed loaded with construction materials.">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Прочность стали
					</h2>
					<p class="img-desc__text">
						Благодаря раме состоящей из высокопрочной стали на 98% вы можете быть уверены, что Ram 1500 2021 года создан для того, чтобы справиться с любой задачей.
					</p>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Особенности Ram 1500 -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<ul class="blurb-rail__list row">
					<li class="blurb-rail__item col-xs-12 col-md-3 col-sm-6">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-02.jpg.image.1440.jpg, <%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-02.jpg.image.1440.jpg" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Мощность вытягивающая ваш бизнес
						</h3>
						<p class="blurb-rail__item-description">
							Имея возможность буксировать с двигателем V8 прицепы массой до 5.780 кг и выдерживая максимальную полезную нагрузку с двигателем V6 до 1.040 кг RAM 1500 2021 года стойко справляется с самыми сложными задачами.
						</p>
						<a class="gcss-button-tertiary blurb-rail__item-link" href="/ram-1500/capability/">
							Изучить возможности
						</a>
					</li>
					<li class="blurb-rail__item col-xs-12 col-md-3 col-sm-6">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-03.jpg.image.1440.jpg, <%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-03.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-03.jpg.image.1440.jpg" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Эксклюзивная система хранения груза RamBox<sup>®</sup>
						</h3>
						<p class="blurb-rail__item-description">
							это умная система с двумя запираемыми боксами, дренируемыми полками для хранения вещей со встроенной светодиодной подсветкой, которая обеспечивает дополнительный доступ к инструментам и оборудованию.
						</p>
						<a class="gcss-button-tertiary blurb-rail__item-link" href="/ram-1500/exterior/">
							Изучить экстерьер
						</a>
					</li>
					<li class="blurb-rail__item col-xs-12 col-md-3 col-sm-6">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-04.jpg.image.1440.jpg, <%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-04.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-04.jpg.image.1440.jpg" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Порядок в салоне!
						</h3>
						<p class="blurb-rail__item-description">
							Эксклюзивные напольные боксы RAM для вещей надежно хранят в себе инструменты, снаряжение и другие предметы во время движения (опция доступна только на моделях Crew Cab).
						</p>
						<a class="gcss-button-tertiary blurb-rail__item-link" href="/ram-1500/interior/">
							Изучить интерьер
						</a>
					</li>
					<li class="blurb-rail__item col-xs-12 col-md-3 col-sm-6">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-05.jpg.image.1440.jpg" media="(min-width: 992px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-05.jpg.image.1440.jpg" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Ничто не отвлекает от работы
						</h3>
						<p class="blurb-rail__item-description">
							Управляйте своим рабочим пикапом уверенно и со спокойствием. Новое цифровое зеркало заднего вида оснащено ЖК-монитором, который при включении выводит на экран видео с камеры заднего вида.
						</p>
						<a class="gcss-button-tertiary blurb-rail__item-link" href="/ram-1500/safety-security/">
							Изучить безопасность
						</a>
					</li>
				</ul>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Мультиборт -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="img-desc">
			<div class="img-desc__grid img-desc__grid_reverse">
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-06.jpg.image.1000.jpg, <%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-06.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-06.jpg.image.1000.jpg, <%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-06.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-06.jpg.image.700.jpg, <%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-06.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-03-improve-06.jpg.image.1000.jpg" data-srcset="<%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-06.jpg.image.500.jpg, <%=path%>img/my21-ram-1500-dt-commercial-mobile-03-improve-06.jpg.image.1000.jpg 2x" alt="The 2021 Ram 1500 towing a flatbed loaded with construction materials.">
				</picture>
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Универсальный многофункциональный задний борт
					</h2>
					<p class="img-desc__text">
						Загружаете и выгружайте ваши грузы с легкостью. Многофункциональный задний борт, спроектированный с разделением 60/40, имеет раздельные распашные половинки, которые позволяют использовать для погрузки вилочный погрузчик и открываются на 88°.
					</p>
					<a class="img-desc__link btn gcss-button" href="/ram-1500/multifunction-tailgate/">
						Изучить многофункциональный задний борт
					</a>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Интсрументы для контроля -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="copy-box gcss-theme-light">
			<h2 class="copy-box__title">
				Инструменты для контроля
			</h2>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= банера -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="tiles">
			<div class="row">
				<div class="tiles__item col-xs-12">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-04-tools-01.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-04-tools-01.jpg" data-srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-04-tools-01.jpg" alt="BusinessLink logo. The fast lane for small business.">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Управляйте своим автопарком с помощью нашей усовершенствованной системы GPS слежения за парком автомобилей
						</h3>
						<a class="gcss-button-tertiary gcss-button-variable" href="#">
							Изучите Ram Telematics™
						</a>
					</div>
				</div>
				<!-- <div class="tiles__item col-xs-12 col-md-4">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-04-tools-02.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-04-tools-02.jpg" data-srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-04-tools-02.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Create the Perfect Truck for Your Business
						</h3>
						<a class="gcss-button-tertiary gcss-button-variable" href="#">
							Explore Body Builder’s Guide
						</a>
					</div>
				</div>
				<div class="tiles__item col-xs-12 col-md-4">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-04-tools-03.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/my21-ram-1500-dt-commercial-desktop-04-tools-03.jpg" data-srcset="<%=path%>img/my21-ram-1500-dt-commercial-desktop-04-tools-03.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Take Advantage of Big Time Tax Benefits 
						</h3>
						<a class="gcss-button-tertiary gcss-button-variable" href="#">
							Explore Tax Benefits
						</a>
					</div>
				</div> -->
			</div>
		</div>


		<!-- Микроконфигуратор -->
		<section class="specs gcss-theme-light" id="trims">
			<h2 class="specs__title">
				Выбери свой RAM
			</h2>
			<div class="specs__subtitle">
				Модуль выбора комплектации
			</div>
			<ul class="cars-carousel">
				<div class="cars-carousel__wrapper owl-carousel center">
					<li class="cars-carousel__item active" id="1">
						<img class="cars-carousel__img" src="<%=path%>img/iris.png" alt="TRADESMAN®">
						<h4 class="cars-carousel__title">Tradesman<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="9">
						<img class="cars-carousel__img" src="<%=path%>img/iris2.png" alt="BIG HORN®">
						<h4 class="cars-carousel__title">Big Horn<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="15">
						<img class="cars-carousel__img" src="<%=path%>img/iris3.png" alt="LARAMIE®">
						<h4 class="cars-carousel__title">Laramie<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="21">
						<img class="cars-carousel__img" src="<%=path%>img/iris4.png" alt="REBEL®">
						<h4 class="cars-carousel__title">Rebel<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="23">
						<img class="cars-carousel__img" src="<%=path%>img/iris5.png" alt="LIMITED LONGHORN™">
						<h4 class="cars-carousel__title">Limited Longhorn™</h4>
					</li>
					<li class="cars-carousel__item" id="27">
						<img class="cars-carousel__img" src="<%=path%>img/iris6.png" alt="LIMITED">
						<h4 class="cars-carousel__title">Limited</h4>
					</li>
				</div>
			</ul>
			<div class="specs__info center"></div>
		</section>


	</main>

	<!-- Скрипты для страницы -->
	<script src="<%=path%>js/app.min.js"></script>
</body>
</html>