@mixin font($family, $filename, $weight:normal, $style:normal) {
	@font-face {
		font-family: $family;
		src: url('/fonts/#{$filename}.woff2') format('woff2'), url('/fonts/#{$filename}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}