<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!doctype html>
<!-- Оболочка документа, указываем яык содержимого -->
<html lang="ru">

<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
@@include('../../_header.html', {"title":"Возможности"})

<!-- Отображаемое тело страницы -->
<body>
	<!-- Оболочка для демонстрации -->
	<main class="main">

		<!-- Контент -->

		<!-- -=-=-=-=-=-=-=-=-=-=-= Навигация по модели -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="secondary-navigation__modelname secondary-navigation__modelname_mobile">
			<h1 class="secondary-navigation__title">2021 RAM 1500</h1>
		</div>
		<div class="secondary-navigation" id="secondary-nav">
			<div class="secondary-navigation__modelname">
				<!-- надпись модели -->
				<h1 class="secondary-navigation__title">2021 RAM 1500</h1>
			</div>
			<nav class="secondary-navigation__menu nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/">
							Обзор
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/gallery/">
							Галерея
						</a>
					</li>
					<li class="nav__item nav__item_active">
						<a class="nav__link" href="/ram-1500/capability/">
							Возможности
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/exterior/">
							Экстерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/interior/">
							Интерьер
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/safety-security/">
							Безопасность и защита
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/multifunction-tailgate/">
							Многофункциональный откидной борт
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/compare/">
							Сравнить
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/specs/">
							Спецификации
						</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="/ram-1500/commercial/">
							RAM для бизнеса
						</a>
					</li>
				</ul>
			</nav>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Первый экран - возможности -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<!-- надзаголовок секции -->
			<div class="qvmedia-block__suptitle">
				2021 RAM 1500 ВОЗМОЖНОСТИ
			</div>
			<!-- заголовок секции -->
			<h2 class="qvmedia-block__title gcss-typography-brand-heading-3">
				Достаточно мощный для дальней дороги / создан для дальней дороги
			</h2>
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/DT21-Capability-hero_desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-Capability-hero_mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-hero_desktop.jpg" data-srcset="<%=path%>img/DT21-Capability-hero_mobile.jpg" alt="The 2021 Ram 1500 being driven on a sandy desert road at sunset.">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Буксировка с увереностью: изображение с описанием -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="feature-panel gcss-theme-light">
			<!-- фоновая картинка -->
			<picture class="feature-panel__img">
				<source srcset="<%=path%>img/DT21-Capability-MaxTowing-Desktop.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-MaxTowing-Desktop.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
				<source srcset="<%=path%>img/DT21-Capability-MaxTowing-Mobile.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-MaxTowing-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-Capability-MaxTowing-Mobile.jpg.image.700.jpg, <%=path%>img/DT21-Capability-MaxTowing-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-MaxTowing-Desktop.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-MaxTowing-Mobile.jpg.image.500.jpg, <%=path%>img/DT21-Capability-MaxTowing-Mobile.jpg.image.1000.jpg 2x" alt="The 2021 Ram 1500 pulling an RV trailer.">
			</picture>
			<!-- текстовый контент -->
			<div class="feature-panel__content feature-panel__content_right">
				<h3 class="feature-panel__itemtitle">
					Буксировка с увереностью
				</h3>
				<p class="feature-panel__text">
					5,7-литровый двигатель HEMI<sup>®</sup> V8 с эксклюзивной для своего класса технологией eTorque Mild Hybrid обеспечивает буксировку прицепа массой до 5.780 кг. Буксируйте грузы, прицепы на любые расстояния с максимальной увереностью.
					<div class="label">МАКСИМАЛЬНЫЙ ВЕС БУКСИРУЕМОГО ПРИЦЕПА КГ.</div>
					<div class="icon-value-container">5.780</div>
				</p>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Эфективное топливо: изображение с описанием -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="feature-panel gcss-theme-light">
			<picture class="feature-panel__img">
				<source srcset="<%=path%>img/MY21-Tradesman-HFE-Capability.jpg.image.1440.jpg, <%=path%>img/MY21-Tradesman-HFE-Capability.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
				<source srcset="<%=path%>img/MY21-Tradesman-HFE-Capability-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-Tradesman-HFE-Capability-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
				<source srcset="<%=path%>img/MY21-Tradesman-HFE-Capability-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-Tradesman-HFE-Capability-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-Tradesman-HFE-Capability.jpg.image.1440.jpg" data-srcset="<%=path%>img/MY21-Tradesman-HFE-Capability-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-Tradesman-HFE-Capability-Mobile.jpg.image.1000.jpg 2x" alt="A three-quarter front view of a white 2021 Ram 1500 Tradesman HFE EcoDiesel parked behind a set of row houses.">
			</picture>
			<div class="feature-panel__content gcss-color-dark">
				<h3 class="feature-panel__itemtitle">
					Топливная экономичность и функциональность
				</h3>
				<p class="feature-panel__text">
					RAM 1500 Tradesman<sup>®</sup> HFE EcoDiesel 2021 года, оснащенный 3,0-литровым двигателем EcoDiesel V6, может похвастаться непревзойденным в своём классе расходом топлива 7.1 литра на 100 км. пробега, что делает его идеальным для дальных поездок.
					<div class="label">РАСХОД ТОПЛИВА НА 100 КМ ПУТИ</div>
					<div class="icon-value-container">7.1</div>
				</p>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Доступные двигатели -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="feature-carousel gcss-theme-light" id="performance1">
			<!-- заголовок секции -->
			<h2 class="feature-carousel__title">
				Доступные двигатели
			</h2>
			<!-- абзац-подзаголовок -->
			<p class="feature-carousel__subtitle col-lg-6 not-float">
				Каждый двигатель агрегатируется с восьмиступенчатой автоматической коробкой передач TorqueFlite<sup>®</sup>, входящей в стандартную комплектацию Class Exclusive. В коробке используются технологии нового поколения, в том числе эксклюзивная гибридная система eTorque Mild, для автоматической обработки и оптимизации смены и времени переключения передач для повышения эффективности, производительности и управляемости.
			</p>
			<!-- табы -->
			<ul class="feature-carousel__navlinks tabnav gcss-theme-dark">
				<li class="tabnav__item active">
					<a class="tabnav__link d-block" data-target="launch" href="#">
						ДВИГАТЕЛЬ HEMI<sup>®</sup>V8 5,7 Л С ETORQUE
					</a>
				</li>
				<li class="tabnav__item">
					<a class="tabnav__link d-block" data-target="dashboard" href="#">
						ДВИГАТЕЛЬ HEMI<sup>®</sup> V8 5,7 Л
					</a>
				</li>
				<li class="tabnav__item">
					<a class="tabnav__link d-block" data-target="engine" href="#">
						ДВИГАТЕЛЬ PENTASTAR<sup>®</sup> V6 3,7 Л С ETORQUE
					</a>
				</li>
				<li class="tabnav__item ">
					<a class="tabnav__link d-block" data-target="dynamics" href="#">
						ДВИГАТЕЛЬ V6 3,0 Л ЭКОДИЗЕЛЬ
					</a>
				</li>
				<li class="tabnav__item">
					<a class="tabnav__link d-block" data-target="qwert" href="#">
						ДВИГАТЕЛЬ HEMI<sup>®</sup> V8 6,2 Л С КОМПРЕССОРОМ
					</a>
				</li>
			</ul>
			<!-- список двигателей -->
			<div class="feature-carousel__items gcss-theme-dark">
				<div class="feature-carousel__item" id="launch">
					<!-- фоновая картинка -->
					<picture class="feature-carousel__img">
						<source srcset="<%=path%>img/DT21-Capability-Engines-desktop-01.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-Engines-desktop-01.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/DT21-Capability-Engines-Mobile-01.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-01.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/DT21-Capability-Engines-Mobile-01.jpg.image.700.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-01.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Engines-desktop-01.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-Engines-Mobile-01.jpg.image.500.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-01.jpg.image.1000.jpg 2x" alt="A close-up of the Launch Control screen in the 2021 Ram 1500 TRX, indicating that the vehicle will launch at 4500 RPM.">
					</picture>
					<!-- текстовый контент -->
					<div class="feature-carousel__content">
						<h3 class="feature-carousel__itemtitle">
							ДВИГАТЕЛЬ HEMI<sup>®</sup>V8 5,7 Л С ETORQUE
						</h3>
						<p class="feature-carousel__text">
							5,7-литровый двигатель HEMI<sup>®</sup> V8 с эксклюзивной для своего класса современной системой eTorque Mild Hybrid сочетает в себе повышающие производительность и эффективные технологии с распределением электрических нагрузок в системе. Уникальный V8 с грузоподъемностью до 5.780 кг.
						</p>
						<!-- характеристики -->
						<div class="feature-carousel__label-group">
							<div>
								<div class="label">МАКСИМАЛЬНЫЙ ВЕС БУКСИРУЕМОГО ПРИЦЕПА В КГ</div>
								<div class="icon-value-container">5.780</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ В НМ</div>
								<div class="icon-value-container">556</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ В Л.С.</div>
								<div class="icon-value-container">395</div>
							</div>
						</div>
					</div>
				</div>
				<div class="feature-carousel__item" id="dashboard">
					<!-- фоновая картинка -->
					<picture class="feature-carousel__img">
						<source srcset="<%=path%>img/DT21-Capability-Engines-desktop-02.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-Engines-desktop-02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
						<source srcset="<%=path%>img/DT21-Capability-Engines-Mobile-02.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-02.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
						<source srcset="<%=path%>img/DT21-Capability-Engines-Mobile-02.jpg.image.700.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-02.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Engines-desktop-02.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-Engines-Mobile-02.jpg.image.500.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-02.jpg.image.1000.jpg 2x" alt="A close-up of the dashboard screen in the 2021 Ram 1500 TRX, displaying reaction time, 60 foot timer, quarter-mile timer and eighth-mile timer.">
					</picture>
					<!-- текстовый контент -->
					<div class="feature-carousel__content">
						<h3 class="feature-carousel__itemtitle">
							ДВИГАТЕЛЬ HEMI<sup>®</sup> V8 5,7 Л
						</h3>
						<p class="feature-carousel__text">
							Проверенный временем, надёжный двигатель HEMI<sup>®</sup> V8 с объемом 5,7 л предлагает легендарную мощность и возможности, которые вы ожидаете от имени HEMI.
						</p>
						<!-- характеристики -->
						<div class="feature-carousel__label-group">
							<div>
								<div class="label">МАКСИМАЛЬНЫЙ ВЕС БУКСИРУЕМОГО ПРИЦЕПА В КГ</div>
								<div class="icon-value-container">5.265</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ В НМ</div>
								<div class="icon-value-container">556</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ В Л.С.</div>
								<div class="icon-value-container">395</div>
							</div>
						</div>
					</div>
				</div>
				<div class="feature-carousel__item" id="engine">
					<!-- фоновая картинка -->
					<picture class="feature-carousel__img">
						<source srcset="<%=path%>img/DT21-Capability-Engines-desktop-03.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-Engines-desktop-03.jpg.image.2880.jpg 2x" media="(min-width: 1005px)">
						<source srcset="<%=path%>img/DT21-Capability-Engines-Mobile-03.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-03.jpg.image.2000.jpg 2x" media="(min-width: 700px)">
						<source srcset="<%=path%>img/DT21-Capability-Engines-Mobile-03.jpg.image.700.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-03.jpg.image.1400.jpg 2x" media="(min-width: 510px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Engines-desktop-03.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-Engines-Mobile-03.jpg.image.500.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-03.jpg.image.1000.jpg 2x" alt="A close-up of the Vehicle Dynamics page on the 2021 Ram 1500 TRX, displaying a graph of the vehicle's power and torque over time.">
					</picture>
					<!-- текстовый контент -->
					<div class="feature-carousel__content">
						<h3 class="feature-carousel__itemtitle">
							ДВИГАТЕЛЬ PENTASTAR<sup>®</sup> V6 3,7 Л С ETORQUE
						</h3>
						<p class="feature-carousel__text">
							Лучшый в своём классе двигатель Pentastar<sup>®</sup> V6 с объемом 3,6 л. В двигателе используются передовые технологии, такие как регулировка фаз газораспределения в широком диапазоне и двухступенчатый регулируемый подъём клапанов, для обеспечения наибольшей мощности и эффективности.
						</p>
						<!-- характеристики -->
						<div class="feature-carousel__label-group">
							<div>
								<div class="label">МАКСИМАЛЬНЫЙ ВЕС БУКСИРУЕМОГО ПРИЦЕПА В КГ</div>
								<div class="icon-value-container">3.505</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ В НМ</div>
								<div class="icon-value-container">364</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ В Л.С.</div>
								<div class="icon-value-container">305</div>
							</div>
						</div>
					</div>
				</div>
				<div class="feature-carousel__item" id="dynamics">
					<!-- фоновая картинка -->
					<picture class="feature-carousel__img">
						<source srcset="<%=path%>img/DT21-Capability-Engines-desktop-04.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-Engines-desktop-04.jpg.image.2880.jpg 2x" media="(min-width: 1005px)">
						<source srcset="<%=path%>img/DT21-Capability-Engines-Mobile-04.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-04.jpg.image.2000.jpg 2x" media="(min-width: 700px)">
						<source srcset="<%=path%>img/DT21-Capability-Engines-Mobile-04.jpg.image.700.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-04.jpg.image.1400.jpg 2x" media="(min-width: 510px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Engines-desktop-04.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-Engines-Mobile-04.jpg.image.500.jpg, <%=path%>img/DT21-Capability-Engines-Mobile-04.jpg.image.1000.jpg 2x" alt="A close-up of the Vehicle Dynamics page on the 2021 Ram 1500 TRX, displaying a 38-degree steering angle and the rear axle locked.">
					</picture>
					<!-- текстовый контент -->
					<div class="feature-carousel__content">
						<h3 class="feature-carousel__itemtitle">
							ДВИГАТЕЛЬ V6 3,0 Л ЭКОДИЗЕЛЬ
						</h3>
						<p class="feature-carousel__text">
							Мощный и эффективный 3,0-литровый дизельный двигатель EcoDiesel V6 обеспечивает лучшый в своём классе крутящий момент топлива 651 Нм и возможность буксировки прицепов весом до 5.695кг.
						</p>
						<!-- характеристики -->
						<div class="feature-carousel__label-group">
							<div>
								<div class="label">МАКСИМАЛЬНЫЙ ВЕС БУКСИРУЕМОГО ПРИЦЕПА В КГ</div>
								<div class="icon-value-container">6.695</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ В НМ</div>
								<div class="icon-value-container">651</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ В Л.С.</div>
								<div class="icon-value-container">260</div>
							</div>
						</div>
					</div>
				</div>
				<div class="feature-carousel__item" id="qwert">
					<!-- фоновая картинка -->
					<picture class="feature-carousel__img">
						<source srcset="<%=path%>img/DT21-Capability-TRX-Engine-Tab-Desktop.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-TRX-Engine-Tab-Desktop.jpg.image.2880.jpg 2x" media="(min-width: 1005px)">
						<source srcset="<%=path%>img/DT21-Capability-TRX-Engine-Tab-Mobile.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-TRX-Engine-Tab-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 700px)">
						<source srcset="<%=path%>img/DT21-Capability-TRX-Engine-Tab-Mobile.jpg.image.700.jpg, <%=path%>img/DT21-Capability-TRX-Engine-Tab-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 510px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-TRX-Engine-Tab-Desktop.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-TRX-Engine-Tab-Mobile.jpg.image.500.jpg, <%=path%>img/DT21-Capability-TRX-Engine-Tab-Mobile.jpg.image.1000.jpg 2x" alt="A close-up of the Vehicle Dynamics page on the 2021 Ram 1500 TRX, displaying a 38-degree steering angle and the rear axle locked.">
					</picture>
					<!-- текстовый контент -->
					<div class="feature-carousel__content">
						<h3 class="feature-carousel__itemtitle">
							САМЫЙ МОЩНЫЙ ДВИГАТЕЛЬ, УСТАНОВЛЕННЫЙ НА ЗАВОДЕ, В ПОЛУТОРАТОННОМ ПИКАПЕ
						</h3>
						<p class="feature-carousel__text">
							Легендарный 6,2-литровый двигатель HEMI<sup>®</sup> V8 с наддувом, доступный только на недавно выпущеном 2021 году RAM 1500 TRX, гарантирует, что этот монстр может разогнаться от 0 до 100км в час всего за 4,5 секунды. Нагнетатель IHI обеспечивает мгновенный крутящий момент, развивает максимальные обороты 14.600 об/мин и выдерживает избыточное давление в 0,75 Бар.
						</p>
						<!-- характеристики -->
						<div class="feature-carousel__label-group">
							<div>
								<div class="label">МОЩНОСТЬ В НМ</div>
								<div class="icon-value-container">881</div>
							</div>
							<div>
								<div class="label">МОЩНОСТЬ В Л.С.</div>
								<div class="icon-value-container">702</div>
							</div>
							<div>
								<div class="label">МАКСИМАЛЬНАЯ СКОРОСТЬ КМ/Ч</div>
								<div class="icon-value-container">190	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Переход на TRX -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="img-desc">
			<div class="img-desc__grid">
				<!-- картинка к описанию -->
				<picture class="responsive-img">
					<source srcset="<%=path%>img/DT21-Capability-TRX-Logo-Engines-Desktop.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-TRX-Logo-Engines-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/DT21-Capability-TRX-Logo_Engines.jpg.image.700.jpg, <%=path%>img/DT21-Capability-TRX-Logo_Engines.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-TRX-Logo-Engines-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/DT21-Capability-TRX-Logo_Engines.jpg.image.500.jpg, <%=path%>img/DT21-Capability-TRX-Logo_Engines.jpg.image.1000.jpg 2x" alt="TRX logo">
				</picture>
				<!-- текстовое описание -->
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Укращённая мощь
					</h2>
					<!-- ссылка на TRX -->
					<a class="img-desc__link btn gcss-button" href="/trx/">
						Изучить RAM TRX
					</a>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Возможности Ram 1500 -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="blurb-rail">
			<div class="container">
				<ul class="blurb-rail__list row d-block">
					<!-- возможность 1 -->
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Capability-Tech-desktop-04.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-Tech-desktop-04.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Capability-Tech-desktop-04.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-Tech-desktop-04.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Capability-Tech-desktop-04.jpg.image.700.jpg, <%=path%>img/DT21-Capability-Tech-desktop-04.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Tech-desktop-04.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-Tech-desktop-04.jpg.image.500.jpg, <%=path%>img/DT21-Capability-Tech-desktop-04.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Современные технологии для буксировки
						</h3>
						<p class="blurb-rail__item-description">
							Уверенность важна, особенно при буксировке. Вот почему мы продолжаем вводить новшенства, предлагая расширенные и полезные функции буксировки, такие как контроль давления в шинах прицепа, проверка электроцепи прицепа, сверхширокие зеркала с электроприводом и камерой кругового обзора 360°.
						</p>
					</li>
					<!-- возможность 2 -->
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Capability-Tech-Desktop-01.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-Tech-Desktop-01.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Capability-Tech-Desktop-01.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-Tech-Desktop-01.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Capability-Tech-Desktop-01.jpg.image.700.jpg, <%=path%>img/DT21-Capability-Tech-Desktop-01.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Tech-Desktop-01.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-Tech-Desktop-01.jpg.image.500.jpg, <%=path%>img/DT21-Capability-Tech-Desktop-01.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Дополнительные функции безопасности и защиты
						</h3>
						<p class="blurb-rail__item-description">
							Сохраняйте контроль и уверенность на дороге даже в неблагоприятных условиях с электронным контролем устойчивости, системой контроля раскачивания прицепа и электронной системой подавления кренов. Начните движение безопасно и надежно с помощью системы помощи при трогании подъема.
						</p>
					</li>
					<!-- возможность 3 -->
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Capability-Tech-desktop-02.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-Tech-desktop-02.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Capability-Tech-desktop-02.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-Tech-desktop-02.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Capability-Tech-desktop-02.jpg.image.700.jpg, <%=path%>img/DT21-Capability-Tech-desktop-02.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Tech-desktop-02.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-Tech-desktop-02.jpg.image.500.jpg, <%=path%>img/DT21-Capability-Tech-desktop-02.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Максимальная обзорность
						</h3>
						<p class="blurb-rail__item-description">
							Сверхширокие зеркала заднего вида для буксировки с электроприводом, которые предлагаются с камерой кругового обзора 360° и используют 5 камер, чтобы вывести на экран полную картину пространства вокруг автомобиля, что особенно полезно при выравнивании грузовика с прицепом. Предустановленная проводка камеры прицепа позволяет разместить до двух дополнительных камер на вашем прицепе или внутри него с прямым подключением к сенсорному экрану Uconnect<sup>®</sup>.
						</p>
					</li>
					<!-- возможность 4 -->
					<li class="blurb-rail__item col-xs-12 col-sm-6 col-md-3">
						<picture class="blurb-rail__item-img">
							<source srcset="<%=path%>img/DT21-Capability-Tech-Desktop-03.jpg.image.1440.jpg, <%=path%>img/DT21-Capability-Tech-Desktop-03.jpg.image.2880.jpg 2x" media="(min-width: 992px)">
							<source srcset="<%=path%>img/DT21-Capability-Tech-Desktop-03.jpg.image.1000.jpg, <%=path%>img/DT21-Capability-Tech-Desktop-03.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
							<source srcset="<%=path%>img/DT21-Capability-Tech-Desktop-03.jpg.image.700.jpg, <%=path%>img/DT21-Capability-Tech-Desktop-03.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
							<img class="lazyload" src="<%= path %>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Tech-Desktop-03.jpg.image.1440.jpg" data-srcset="<%=path%>img/DT21-Capability-Tech-Desktop-03.jpg.image.500.jpg, <%=path%>img/DT21-Capability-Tech-Desktop-03.jpg.image.1000.jpg 2x" alt="">
						</picture>
						<h3 class="blurb-rail__item-title">
							Мониторинг мёртвых зон
						</h3>
						<p class="blurb-rail__item-description">
							Благодаря двойным широкополосным датчикам объёма в задних фонарях система мониторинга слепых зон с функцией обнаружения объектов сканирует слепые зоны позади автомобиля, чтобы обеспечить безопасное маневрирование, автоматически определяя наличие и учитывая длину вашего прицепа и объекта находящегося в слепой зоне.
						</p>
					</li>
				</ul>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Возможности Ram 1500 -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="tiles">
			<div class="row">
				<!-- возможность 1 -->
				<div class="tiles__item col-xs-6 col-md-12">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/DT21-Capability-AirDam-desktop.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-AirDam-desktop.jpg" data-srcset="<%=path%>img/DT21-Capability-AirDam-desktop.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Мониторинг давления в шинах прицепа
						</h3>
						<p class="tiles__text">
							С помощью системы контроля давления в шинах прицепа вы можете получать показания давления в реальном времени для 4 сохранённых в памяти прицепов и до 12 шин на прицеп на центральном дисплее с информацией для водителя в высоком разрешении.
						</p>
					</div>
				</div>
				<!-- возможность 2 -->
				<div class="tiles__item col-xs-6 col-md-12">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/DT21-Capability-Aerodynamics-desktop.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Aerodynamics-desktop.jpg" data-srcset="<%=path%>img/DT21-Capability-Aerodynamics-desktop.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Проверка электроцепи прицепа
						</h3>
						<p class="tiles__text">
							С функцией проверки электроцепи прицепа будьте в курсе и будьте уверенны, что все фонари вашего прицепа включены и работают. В случае неисправности вы получите уведомление об этом.
						</p>
					</div>
				</div>
			</div>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Мультифункциональная задняя дверь -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="copy-box gcss-theme-light">
			<!-- заголовок секции -->
			<h2 class="copy-box__title">
				Многофункциональный задний борт
			</h2>
			<!-- абзац текста -->
			<p class="copy-box__text col-xs-12 col-sm-10 col-lg-6 not-float">
				Многофункциональный задний борт, спроектированный с разделением 60/40, предлагает больше способов доступа к грузовому отсеку, при этом оставаясь максимально прочным. Раздельные распашные половинки позволяют использовать вилочный погрузчик и открываются на 88°, что позволяет легко попадать в кузов, загружать крупногабаритные предметы, выгружать и легко мыть грузовой кузов.
			</p>
			<!-- переход на multifunction-tailgate -->
			<a class="copy-box__link btn gcss-button" href="/ram-1500/multifunction-tailgate/">
				Изучить многофункциональный задний борт
			</a>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Задняя дверь: изображение -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="qvmedia-block">
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/DT21-Capability-Mftg-desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-Capability-Mftg-mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Interior_Cluster-desktop.jpg" data-srcset="<%=path%>img/DT21-Capability-Mftg-mobile.jpg" alt="">
			</picture>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Галерея -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="alfagallery" id="gallery">
			<!-- заголовок секции -->
			<h2 class="alfagallery__title">
				Исследуйте бездорожье с RAM REBEL
			</h2>
			<!-- абзац-подзаголовок -->
			<p class="alfagallery__text center">
				С агрессиными внедорожными шинами, заводским лифтом на один дюйм для увеличения дорожного просвета и электронной блокировки заднего дифференциала, RAM 1500 Rebel<sup>®</sup> 2021 добавит новых красок и эмоций в любые внедорожные приключения.
			</p>
			<div class="alfagallery__grid">
				<!-- первая колонка -->
				<div class="alfagallery__column alfagallery__column_first">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/DT21-Capability-gallery-Expanded-01.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-gallery-Thumb-01.jpg" alt="A collage of six images of the 2021 Ram 1500 Rebel being driven off-road on mud, grass, rocks and sand.">
					</a>
					<div class="alfagallery__column-mini">
						<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/DT21-Capability-gallery-Expanded-02.jpg">
							<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-gallery-Thumb-02.jpg" alt="">
						</a>
						<a class="alfagallery__item alfagallery__item_third" data-fancybox="alfagallery" href="<%=path%>img/DT21-Capability-gallery-Expanded-03.jpg">
							<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-gallery-Thumb-03.jpg" alt="">
						</a>
					</div>
				</div>
				<!-- вторая колонка -->
				<div class="alfagallery__column alfagallery__column_second">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/DT21-Capability-gallery-Expanded-04.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-gallery-Thumb-04.jpg" alt="">
					</a>
				</div>
				<!-- третяя колонка -->
				<div class="alfagallery__column alfagallery__column_third">
					<a class="alfagallery__item" data-fancybox="alfagallery" href="<%=path%>img/DT21-Capability-gallery-Expanded-05.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-gallery-Thumb-05.jpg" alt="">
					</a>
					<a class="alfagallery__item alfagallery__item_last" data-fancybox="alfagallery" href="<%=path%>img/DT21-Capability-gallery-expanded-06.jpg">
						<img class="alfagallery__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-gallery-thumb-06.jpg" alt="">
					</a>
				</div>
			</div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= TRX: изображение -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="qvmedia-block">
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/Hero-Desktop.jpg" media="(min-width: 992px)">
				<source srcset="<%=path%>img/Hero-Tablet.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/Hero-Mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Hero-Desktop.jpg" data-srcset="<%=path%>img/Hero-Mobile.jpg" alt="The red 2021 Ram 1500 TRX churning up clouds of sand from its wheels as it is driven over a dune.">
			</picture>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= TRX лого -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="hero gcss-theme-dark">
			<picture class="hero__bg">
				<source srcset="<%=path%>img/TRX-Desktop.png" media="(min-width: 768px)">
				<source srcset="<%=path%>img/TRX-Mobile.png" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/TRX-Desktop.png" data-srcset="<%=path%>img/TRX-Mobile.png" alt="TRX Logo">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Встрейчайте самый мощный вездеход - TRX  -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="copy-box gcss-theme-dark">
			<h2 class="copy-box__title">
				Встрейчайте самый мощный RAM когда-либо в истории
			</h2>
			<a class="copy-box__link btn btn-secondary gcss-button" href="/trx/">
				Изучить RAM TRX
			</a>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Получить мощность -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="copy-box gcss-theme-light">
			<!-- заголовок секции -->
			<h2 class="copy-box__title">
				Получите максимальную производительность и эффективность с eTorque
			</h2>
			<!-- абзац текста -->
			<p class="copy-box__text col-xs-12 col-sm-10 col-lg-6 not-float">
				Революционная и эксклюзивная в своём классе система eTorque Mild Hybrid, это часть 5,7-литрового двигателя HEMI<sup>®</sup> V8 с eTorque и 3,6-литрового двигателя Pentastar<sup>®</sup> V6 с eTorque, которая заменяет традиционный генератор переменного тока на 48-вольтный аккумулятор с ременным приводом, повышающий производительность и эффективность бортовой электросети. Узнайте, сколько вы сможете сэкономить со временем, с помощью нашего калькулятора экономии топлива.
			</p>
			<!-- ссылка-заглушка -->
			<a class="copy-box__link btn" href="#">
				Рассчитайте свою экономию
			</a>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Большое изображение -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="qvmedia-block">
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/DT21-Capability-Efficient-Desktop.jpg" media="(min-width: 992px)">
				<source srcset="<%=path%>img/DT21-Capability-Efficient-mobile.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-Capability-Efficient-mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Efficient-Desktop.jpg" data-srcset="<%=path%>img/DT21-Capability-Efficient-mobile.jpg" alt="">
			</picture>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Возможности Ram 1500 -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="tiles">
			<div class="row">
				<!-- возможность 1 -->
				<div class="tiles__item col-xs-4 col-md-12">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/DT21-Capability-AirDam-desktop.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-AirDam-desktop.jpg" data-srcset="<%=path%>img/DT21-Capability-AirDam-desktop.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Активная воздушная заслонка
						</h3>
						<p class="tiles__text">
							Когда пикап разгоняется свыше 50 км в час, активная передняя воздушная заслонка нижней части бампера автоматически выдвигается вниз на 5 сантиметров, чтобы уменьшить сопротивление набегающего воздушного потока.
						</p>
					</div>
				</div>
				<!-- возможность 2 -->
				<div class="tiles__item col-xs-4 col-md-12">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/DT21-Capability-Aerodynamics-desktop.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Aerodynamics-desktop.jpg" data-srcset="<%=path%>img/DT21-Capability-Aerodynamics-desktop.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Аэродинамика
						</h3>
						<p class="tiles__text">
							Обладая лучшей в своём классе аэродинамикой, кузов RAM 1500 2021 года является образцом инженерной мысли. Приподнятый у основания капот оптимизирует отклонение воздушных потоков от зоны стеклочистителя, а специальный дизайн крыши направляет воздух к заднему спойлеру. В сочетании с активными аэродинамическими элементами пикап демонстрирует коеффициент аэродинамического сопротивления 0,357, что является рекордным показателем в своём классе.
						</p>
					</div>
				</div>
				<!-- возможность 3 -->
				<div class="tiles__item col-xs-4 col-md-12">
					<picture class="tiles__image">
						<source srcset="<%=path%>img/DT21-Capability-Suspension-desktop.jpg" media="(min-width: 576px)">
						<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Capability-Suspension-desktop.jpg" data-srcset="<%=path%>img/DT21-Capability-Suspension-desktop.jpg" alt="">
					</picture>
					<div class="tiles__content">
						<h3 class="tiles__title">
							Уникальная система пневмо подвески
						</h3>
						<p class="tiles__text">
							Эксклюзивная четырех точечная пневмоподвеска Active-Level автоматически опускает кузов автомобиля на скорости при движении по шоссе, чтобы уменьшить сопротивление и обеспечить максимальную эффективность. Опция опускания кузова также может помочь при доступе к грузовому кузову или кабине, заезду в гараж или сцепке прицепа.
						</p>
					</div>
				</div>
			</div>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Высокопрочная стальная рама -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="qvmedia-block gcss-theme-light">
			<!-- заголовок секции -->
			<h2 class="qvmedia-block__title">
				Высокопрочная стальная рама
			</h2>
			<!-- абзац-подзаголовок -->
			<div class="qvmedia-block__text col-lg-6 center not-float">
				98% стали, используемой в раме, - это высокопрочная сталь, обеспечивающая высочайшую жесткость и долговечность, что помогает обеспечить максимальный вес буксируемого прицепа до 5.780 кг и до 1.043 кг максимальной полезной нагрузки в кузов.
			</div>
			<!-- фоновая картинка -->
			<picture class="qvmedia-block__bg">
				<source srcset="<%=path%>img/DT21-Safety-Frame-desktop.jpg" media="(min-width: 768px)">
				<source srcset="<%=path%>img/DT21-Safety-Frame-mobile.jpg" media="(min-width: 576px)">
				<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/DT21-Safety-Frame-desktop.jpg" data-srcset="<%=path%>img/DT21-Safety-Frame-mobile.jpg" alt="">
			</picture>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Снежный плуг -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="img-desc">
			<div class="img-desc__grid img-desc__grid_reverse">
				<!-- картинка к описанию -->
				<picture class="img-desc__image">
					<source srcset="<%=path%>img/MY21-RAM-1500-Capability-Plow-Desktop.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-1500-Capability-Plow-Desktop.jpg.image.2000.jpg 2x" media="(min-width: 992px)">
					<source srcset="<%=path%>img/MY21-RAM-1500-Capability-Plow-Mobile.jpg.image.1000.jpg, <%=path%>img/MY21-RAM-1500-Capability-Plow-Mobile.jpg.image.2000.jpg 2x" media="(min-width: 768px)">
					<source srcset="<%=path%>img/MY21-RAM-1500-Capability-Plow-Mobile.jpg.image.700.jpg, <%=path%>img/MY21-RAM-1500-Capability-Plow-Mobile.jpg.image.1400.jpg 2x" media="(min-width: 576px)">
					<img class="lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/MY21-RAM-1500-Capability-Plow-Desktop.jpg.image.1000.jpg" data-srcset="<%=path%>img/MY21-RAM-1500-Capability-Plow-Mobile.jpg.image.500.jpg, <%=path%>img/MY21-RAM-1500-Capability-Plow-Mobile.jpg.image.1000.jpg 2x" alt="The 2021 Ram 1500 clearing a road with a snowplow upfit attached to its front grille.">
				</picture>
				<!-- текстовое описание -->
				<div class="img-desc__content">
					<h2 class="img-desc__content-title">
						Комплект подготовки снежного отвала
					</h2>
					<p class="img-desc__text">
						Упростите уборку снега зимой с новым комплектом для подготовки снежного отвала и подготовьте свой RAM 1500 2021 года к любым погодным условиям.
					</p>
				</div>
			</div>
		</div>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Сделано за последние 5 лет -=-=-=-=-=-=-=-=-=-=-= -->
		<section class="capabilitygraph">
			<!-- заголовок секции -->
			<h2 class="capabilitygraph__title">
				Создан на века
			</h2>
			<div class="capabilitygraph__items">
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Ограниченная гарантия на дизельный двигатель.
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="150000">150000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Помощь на дороге. Доставка дизеля.
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="150000">150000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Ограниченная гарантия на сквозную коррозию.
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="150000">150000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">лет</span>
									</span>
									<span>
										Ограниченная гарантия на бензиновый двигатель.
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="100000">100000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 60%"></div>
						</div>
					</div>
				</div>
				<div class="capabilitygraph__item row">
					<!-- иконка -->
					<div class="capabilitygraph__img-block col-sm-3 col-md-2">
						<img class="capabilitygraph__img lazyload" src="<%=path%>img/loader.gif" data-src="<%=path%>img/Capability_graph_icon_2x.png" alt="Included">
					</div>
					<!-- текстовый контент -->
					<div class="capabilitygraph__data-block col-sm-9 col-md-10">
						<div class="row">
							<div class="capabilitygraph__copy-block col-xs-12 col-sm-9">
								<h3 class="capabilitygraph__item-title">
									<span>
										<span class="capabilitygraph__year">5</span>
										<span class="capabilitygraph__widget-body">ЛЕТ</span>
									</span>
									<span>
										Помощь на дороге. Доставка бензина.
									</span>
								</h3>
							</div>
							<div class="sdp-col-xs-3 sdp-col-sm-3 sdp-col-md-2 sdp-col-lg-2"></div>
							<div class="capabilitygraph__unit-block col-xs-6 col-sm-6 col-md-3 col-lg-3">
								<span class="capabilitygraph__value">
									<span class="counter" data-end="100000">100000</span><sup class="capabilitygraph__units">км.</sup>
								</span>
							</div>
						</div>
					</div>
					<!-- прогресс-бар -->
					<div class="proggress-bar col-xs-12">
						<div class="proggress-bar__outer">
							<div class="proggress-bar__inner" style="max-width: 60%"></div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Микроконфигуратор -->
		<section class="specs gcss-theme-light" id="trims">
			<h2 class="specs__title">
				Выбери свой RAM
			</h2>
			<div class="specs__subtitle">
				Модуль выбора комплектации
			</div>
			<ul class="cars-carousel">
				<div class="cars-carousel__wrapper owl-carousel center">
					<li class="cars-carousel__item active" id="1">
						<img class="cars-carousel__img" src="<%=path%>img/iris.png" alt="TRADESMAN®">
						<h4 class="cars-carousel__title">Tradesman<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="9">
						<img class="cars-carousel__img" src="<%=path%>img/iris2.png" alt="BIG HORN®">
						<h4 class="cars-carousel__title">Big Horn<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="15">
						<img class="cars-carousel__img" src="<%=path%>img/iris3.png" alt="LARAMIE®">
						<h4 class="cars-carousel__title">Laramie<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="21">
						<img class="cars-carousel__img" src="<%=path%>img/iris4.png" alt="REBEL®">
						<h4 class="cars-carousel__title">Rebel<sup>®</sup></h4>
					</li>
					<li class="cars-carousel__item" id="23">
						<img class="cars-carousel__img" src="<%=path%>img/iris5.png" alt="LIMITED LONGHORN™">
						<h4 class="cars-carousel__title">Limited Longhorn™</h4>
					</li>
					<li class="cars-carousel__item" id="27">
						<img class="cars-carousel__img" src="<%=path%>img/iris6.png" alt="LIMITED">
						<h4 class="cars-carousel__title">Limited</h4>
					</li>
				</div>
			</ul>
			<div class="specs__info center"></div>
		</section>


		<!-- -=-=-=-=-=-=-=-=-=-=-= Переходник -=-=-=-=-=-=-=-=-=-=-= -->
		<div class="nextprev">
			<a href="/ram-1500/gallery/" class="nextprev__link nextprev__link_prev">
				<span class="nextprev__icon _icon-chevron-left-2"></span>
				<div>
					<p class="nextprev__sup">Предыдущая</p>
					<p class="nextprev__page">Галерея</p>
				</div>
			</a>
			<a href="/ram-1500/exterior/" class="nextprev__link nextprev__link_next">
				<div>
					<p class="nextprev__sup">Следующая</p>
					<p class="nextprev__page">Экстерьер</p>
				</div>
				<span class="nextprev__icon _icon-chevron-right-2"></span>
			</a>
		</div>
		

	</main>

	<!-- Скрипты для страницы -->
	<script src="<%=path%>js/app.min.js"></script>
</body>
</html>